$color_green: #49b69c;
$color_green_hover: #55d4b6;
$color_blue: #002a46;
$color_blue_light: #0072ba;
$color_blue_light_hover: #0285d8;
$color_red: #c44231;
$color_red_hover: #e04c38;
$color_txt: #2e363d;
$color_border: #1a4059;
$color_grey: #e4e8eb;



@font-face {
    font-family: 'helvetica_neue';
    src: url('../fonts/helveticaneue-webfont.eot');
    src: url('../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_bold';
    src: url('../fonts/helvetica_bold.eot');
    src: url('../fonts/helvetica_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_bold.woff') format('woff'),
         url('../fonts/helvetica_bold.ttf') format('truetype'),
         url('../fonts/helvetica_bold.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

ul, li, div, a, span{
	display: inline-block;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.txt_bold{
	font-weight: bold;
	color: #000;
}

h1{
	font-size: 29pt;
	font-family: 'helvetica_neue';
}

input:focus{outline:none}
textarea:focus{outline:none}
 
html, body {height: 100%}
 
body{ 
	text-align: center;
	margin: 0px 0px 0px 0px;
	font-size: 0pt;
	min-width: 1024px; 
	background-color: #000;
	/*overflow: hidden;*/
}

.main_fon{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 30pt;
	color: #fff;
	background-color: #0ff;
	background: url(../img/fon1.jpg) no-repeat;
	background-size: cover;
	background-position:50% 50%;
	font-family: 'helvetica_neue';
	min-width: 1024px; 
	.center_fon{
		display: block;
		position: absolute;
		top: 60px;
		left: 273px;	
		font-size: 30pt;
		color: #fff;
		/*padding-left: 10px;
		padding-right: 90px;*/
		overflow: hidden;
		height: 100%;
		text-align: left;
		background: url(../img/main_shadow.png) repeat-x;
	}
	.slogan{
		display: block;
		position: absolute;
		width: 505px;
		top: 52px;
		left: 60px;
		color: #fff;
		font-family: 'helvetica_bold';
		font-weight: 400;
	}
	.price{
		display: block;
		position: absolute;
		width: 150px;
		top: 52px;
		padding-left: 25px;
		right: 40px;
		font-family: 'helvetica_bold'; 
		color: $color_green;
		border-left: 1px solid #4d7183;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 5px;
		.start_city{
			font-size: 11.5pt;
			font-family: 'helvetica_neue';
			font-weight: 400;
		}
	}
}

#fon2{
	background: url(../img/fon2.jpg) no-repeat;
	background-size: cover;
	background-position:50% 50%;
	opacity: 0;
}

.container{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 1024px;

}

.header{
	display: block;
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: #fff;
	z-index: 501;
	text-align: left;
	.logo{
		display: inline-block;
		position: relative;
		top: -14px;
		width: 130px;
		height: 38px;
		margin-top: 8px;
		margin-left: 14px;
		background: url(../img/logo.png) no-repeat;	
	}
	.tel{
		display: inline-block;
		position: relative;
		top: -16px;
		padding-left: 13px;
		margin-left: 8px;
		color: $color_green;
		font-size: 13.5pt;
		font-family: 'helvetica_neue';
		border-left: 1px solid #dbdbdb;
		.tel_txt{
			display: block;
			position: relative;
			color: #abb0b4;
			font-size: 8pt;
		}
	}
	.header_separ{
		display: inline-block;
		position: relative;
		height: 100%;
		margin-left: 20px;
		border-left: 1px solid #dbdbdb;
	}
	.student{
		display: inline-block;
		position: relative;
		top: -26px;
		margin-left: 13px;
		padding: 9px 18px 9px 18px;
		background-color: $color_red;
		font-family: 'helvetica_neue';
		font-size: 11pt;
		color: #fff;
		text-decoration: none;
	}
	.student:hover{
		background-color: $color_red_hover;
	}
	.student_txt{
		display: inline-block;
		position: relative;
		top: -21px;
		width: 120px;
		margin-left: 9px;
		color: $color_txt;
		font-size: 8pt;
		font-family: 'helvetica_neue';
	}
	.header_right{
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 480px;
		height: 100%;
		.header_menu{
			display: block;
			position: absolute;
			top: 0px;
			right: 98px;
			width: 410px;
			height: 100%;
			color: $color_txt;
			font-family: 'helvetica_neue';
			font-size: 9.5pt;
			li{
				display: inline-block;
				position: relative;
				margin-left: 18px;
				margin-top: 21px;
				a{
					color: $color_txt;
					text-decoration: none;
				}
			}
		}
		.btn_login{
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			width: 97px;
			height: 100%;
			background-color: $color_green;
			cursor: pointer;
			border-left: 1px solid #429984;
			span{
				display: block;
				position: absolute;
				top: 20px;
				left: 17px;
				padding-left: 22px;
				padding-top: 2px;
				color: #fff;
				font-family: 'helvetica_neue';
				font-weight: bold;
				font-size: 10pt;
				background: url(../img/img_login.png) no-repeat;
				
			}
		}
		.btn_login:hover{
			background-color: $color_green_hover;
		}
		
	}
}

.top_space{
	display: block;
	position: relative;
	width: 100%; 
	height: 60px;
}

.left_column{
	display: block;
	position: absolute;
	width: 273px;
	height: 100%;
	left: 0px;
	background-color: $color_blue_light;
	font-size: 20pt;
	color: #ff0;
	z-index: 100;
	overflow: hidden;
	.left_column_gradient{
		display: block;
		position: absolute;
		width: 3px;
		height: 100%;
		right: 0px;
		top: 0px;
		background: url(../img/left_column_shadow.png) repeat-y;
	}
	.left_column_name{
		display: block;
		position: relative;
		width: 100%;
		padding: 13px 15px 13px 20px;
		background-color: $color_blue_light;
		color: #fff;
		font-family: 'helvetica_neue';
		font-weight: bold;
		font-size: 18pt;
		text-align: left;		
	}
	.left_column_name_img{
		display: block;
		position: absolute;
		top: 22px;
		left: 215px;
		width: 42px;
		height: 16px;
		background: url(../img/main_sprite.png) no-repeat;
		background-position: 0px -125px;
		z-index: 120;
	}
	.select_tab{
		display: block;
		position: absolute;
		width: 140px;
		height: 40px;
		background-color: $color_blue;
		top: 115px;
		left: 0px;
	}
	.menu_order{
		display: block;
		position: repative;
		.menu_tab{
			display: inline-block;
			position: relative;
			padding: 14px 12px 14px 12px;
			color: $color_green;
			font-family: 'helvetica_bold';
			font-size: 8pt;
		}
		.menu_tab:last-child{
			cursor: pointer;
			/*color: $color_blue;*/
		}
		
	} 
/*  ===============================================   BEGIN ORDER TAB1 ==================================== */	
	.order_tab1{
		display: block;
		position: relative;
		width: 273px;
		top: -2px;
		background-color: $color_blue;
		text-align: left;
		overflow-y: hidden;
		/*overflow-y: scroll;
		overflow-y: auto;*/
		overflow-x: hidden;
		padding-bottom: 10px;
		.order_tab1_main{
			display: block;
			position: relative;	
			width: 273px;
			z-index: 1;
			.order_tab1_city{
				display: block;
				position: relative;
				text-align: left;
			}
			.tab1_from, .tab1_to{
				display: inline-block;			
				position: relative;
				width: 110px;
				margin-top: 2px;
				margin-left: 20px;
				color: #fff;
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				text-align: left;
			}
			.tab1_from{
				margin-top: 15px;
			}
			.tab1_from_info, .tab1_to_info{
				display: inline-block;
				position: relative;
				width: 102px;
				margin-top: 12px;
				color: $color_green;
				font-family: 'helvetica_neue';
				font-size: 8.5pt;
				text-align: right;
			}
			.tab1_from_clear, .tab1_to_clear{
				dislpay: inline-block;
				position: relative;
				top: 1px;
				width: 10px;
				height: 10px;
				
				background: url(../img/main_sprite.png) no-repeat;
				background-position: 0px -149px;
				cursor: pointer;
			}
			.tab1_from_fild, .tab1_to_fild{
				display: block;
				position: relative;
				width: 196px;
				margin-left: 20px;
				margin-top: 3px;
				padding: 7px 10px 7px 30px;
				font-family: 'helvetica_neue';
				font-family: 'helvetica_neue';
				font-weight: bold;
				font-size: 14pt;
				border: none;
				background-color: $color_grey;
			}
			.tab1_from_o, .tab1_to_o{
				display: block;
				position: absolute;
				width: 12px;
				height: 19px;
				top: 46px;
				left: 30px;
				background: url(../img/main_sprite.png) no-repeat;
				background-position: 0px -175px;
			}
			.tab1_to_o{
				top: 116px;
			}
	/* ====================== стилизаци чекбокса ============================================== */				
			input[type="checkbox"] {
				display: none;
			}
			input[type="checkbox"] + label span {
				display:inline-block;
				width: 17px;
				height: 17px;
				top: -1px;
				margin-right: 10px;
				vertical-align:middle;
				background:url(../img/main_sprite.png) no-repeat;
				cursor:pointer;
				background-position: 0px -250px;
				font-size: 8pt;
				color: #fff;
			}
			input[type="checkbox"]:checked + label span {
				background:url(../img/main_sprite.png) no-repeat;
				background-position: 0px -275px;
			}
			label{
				display: block;
				width: 250px;
				margin-left: 20px;
				margin-top: 11px;
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				color: #fff;
				text-align: left;
			}
	/* ==================================================================== */	
			.tab1_time_from{
				display: none;			
				position: relative;
				width: 253px;
				padding-left: 20px;
				margin-top: 23px;
				color: #fff;
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				opacity: .2;
				.tab1_time_from_fild{
					display: block;
					position: relative;
					width: 216px;
					margin-top: 6px;
					border: none;
					padding: 7px 10px 7px 10px;
					font-family: 'helvetica_neue';
					font-size: 14pt;
					background-color: $color_grey;
				}
				.calendar{
					display: block;
					position: absolute;
					width: 17px;
					height: 19px;
					top: 30px;
					left: 230px;
					background: url(../img/main_sprite.png) no-repeat;
					background-position: 0px -200px;
					cursor: pointer;
					
				}
			
			}
			.tab1_time_back{
				display: none;
				position: relative;
				left: 0px;
				width: 253px;
				padding-left: 20px;
				margin-top: 10px;
				color: #fff;
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				opacity: .2;
				.tab1_time_back_fild{
					display: block;
					position: relative;
					width: 196px;
					margin-top: 8px;
					border: none;
					padding: 7px 10px 7px 30px;
					font-family: 'helvetica_neue';
					font-size: 14pt;	
					background-color: $color_grey;
				}
				.calendar{
					display: block;
					position: absolute;
					width: 17px;
					height: 19px;
					top: 32px;
					left: 230px;
					background: url(../img/main_sprite.png) no-repeat;
					background-position: 0px -200px;
					cursor: pointer;					
				}	
			}
			.tab1_people{
				display: none;
				position: relative;
				left: 0px;
				width: 253px;
				padding-left: 20px;
				margin-top: 10px;
				color: #fff;
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				opacity: 1;
				.tab1_adult{
					display: inline-block;
					position: relative;
					color: #fff;
					font-family: 'helvetica_neue';
					font-size: 10.5pt;
					.tab1_adult_fild{
						display: block;
						position: relative;
						width: 95px;
						margin-top: 8px;
						padding: 7px 10px 7px 10px;
						font-family: 'helvetica_neue';
						font-size: 14pt;	
						background-color: $color_grey;
						border: none;
					}
					.tab1_adult_up{
						display: block;
						position: absolute;						
						top: 26px;
						left: 94px;
						width: 21px;						
						height: 12px;
						background: url(../img/main_sprite.png) no-repeat;
						background-position: 0px -295px;
						cursor: pointer;	
						
						
					}
					.tab1_adult_dwn{
						display: block;
						position: absolute;
						top: 48px;
						left: 94px;
						width: 21px;						
						height: 12px;
						background: url(../img/main_sprite.png) no-repeat;
						background-position: 0px -325px;
						cursor: pointer;	
					}
				}
				.tab1_child{
					display: inline-block;
					position: relative;
					margin-left: 2px;
					color: #fff;
					font-family: 'helvetica_neue';
					font-size: 10.5pt;
					.tab1_child_fild{
						display: block;
						position: relative;
						width: 95px;
						margin-top: 8px;
						padding: 7px 10px 7px 10px;
						font-family: 'helvetica_neue';
						font-size: 14pt;	
						background-color: $color_grey;
						border: none;
					}
					.tab1_child_up{
						display: block;
						position: absolute;						
						top: 31px;
						left: 94px;
						width: 21px;						
						height: 21px;
						background: url(../img/main_sprite.png) no-repeat;
						background-position: 0px -300px;
						cursor: pointer;	
						
						
					}
					.tab1_child_dwn{
						display: block;
						position: absolute;
						top: 48px;
						left: 94px;
						width: 21px;						
						height: 21px;
						background: url(../img/main_sprite.png) no-repeat;
						background-position: 0px -325px;
						cursor: pointer;	
					}
				}
			}
		}
		
/* ============================================	 BEGIN	.order_tab1_back =================================== */
		.order_tab1_back{
			display: block;
			position: absolute;			
			top: 0px;
			left: 0px;
			.order_tab1_city{
				display: block;
				position: relative;
				text-align: left;
				opacity: 0;
			}
			.tab1_from, .tab1_to{
				display: inline-block;			
				position: relative;
				width: 110px;
				margin-top: 2px;
				margin-left: 20px;
				color: #fff;
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				text-align: left;
				opacity: 0;
			}
			.tab1_from{
				margin-top: 15px;
				opacity: 0;
			}
			.tab1_from_info, .tab1_to_info{
				display: inline-block;
				position: relative;
				width: 102px;
				margin-top: 12px;
				color: $color_green;
				font-family: 'helvetica_neue';
				font-size: 8.5pt;
				text-align: right;
				opacity: 0;
			}
			.tab1_from_clear, .tab1_to_clear{
				dislpay: inline-block;
				position: relative;
				top: 1px;
				width: 10px;
				height: 10px;
				
				background: url(../img/main_sprite.png) no-repeat;
				background-position: 0px -149px;
				cursor: pointer;
				opacity: 0;
			}
			.tab1_from_fild, .tab1_to_fild{
				display: block;
				position: relative;
				width: 196px;
				margin-left: 20px;
				margin-top: 3px;
				padding: 7px 10px 7px 30px;
				font-family: 'helvetica_neue';
				font-family: 'helvetica_neue';
				font-weight: bold;
				font-size: 14pt;
				border: none;
				background-color: $color_grey;
				opacity: 0;
			}
			.tab1_from_o, .tab1_to_o{
				display: block;
				position: absolute;
				width: 12px;
				height: 19px;
				top: 46px;
				left: 30px;
				background: url(../img/main_sprite.png) no-repeat;
				background-position: 0px -175px;
				opacity: 0;
			}
			.tab1_to_o{
				top: 116px;
				opacity: 0;
			}
	/* ====================== стилизаци чекбокса ============================================== */				
			input[type="checkbox"] {
				display: none;
			}
			input[type="checkbox"] + label span {
				display:inline-block;
				width: 17px;
				height: 17px;
				top: -1px;
				margin-right: 10px;
				vertical-align:middle;
				background:url(../img/main_sprite.png) no-repeat;
				cursor:pointer;
				background-position: 0px -250px;
				font-size: 8pt;
				color: #fff;
				opacity: 0;
			}
			input[type="checkbox"]:checked + label span {
				background:url(../img/main_sprite.png) no-repeat;
				background-position: 0px -275px;
				opacity: 0;
			}
			label{
				display: block;
				width: 250px;
				margin-left: 20px;
				margin-top: 11px;
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				color: #fff;
				text-align: left;
				opacity: 0;
			}
	/* ==================================================================== */	
			.tab1_time_from{
				display: block;			
				position: relative;
				width: 253px;
				padding-left: 20px;
				margin-top: 23px;
				color: #fff;
				
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				opacity: .2;
				.tab1_time_from_fild{
					display: block;
					position: relative;
					width: 196px;
					margin-top: 6px;
					border: none;
					padding: 7px 10px 7px 30px;
					font-family: 'helvetica_neue';
					font-size: 14pt;					
				}
				.calendar{
					display: block;
					position: absolute;
					width: 17px;
					height: 19px;
					top: 30px;
					left: 230px;
					background: url(../img/main_sprite.png) no-repeat;
					background-position: 0px -200px;
					cursor: pointer;					
				}			
			}
			.tab1_time_back{
				display: block;
				position: relative;
				left: 0px;
				width: 253px;
				padding-left: 20px;
				margin-top: 10px;
				color: #fff;
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				opacity: .2;
				
				.tab1_time_back_fild{
					display: block;
					position: relative;
					width: 196px;
					margin-top: 8px;
					border: none;
					padding: 7px 10px 7px 30px;
					font-family: 'helvetica_neue';
					font-size: 14pt;	
					background-color: $color_grey;
				}
				.calendar{
					display: block;
					position: absolute;
					width: 17px;
					height: 19px;
					top: 32px;
					left: 230px;
					background: url(../img/main_sprite.png) no-repeat;
					background-position: 0px -200px;
					cursor: pointer;					
				}
			}	
			.tab1_people{
				display: block;
				position: relative;
				left: 0px;
				width: 253px;
				padding-left: 20px;
				margin-top: 10px;
				color: #fff;
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				opacity: .2;
				.tab1_adult{
					display: inline-block;
					position: relative;
					color: #fff;
					font-family: 'helvetica_neue';
					font-size: 10.5pt;
					.tab1_adult_fild{
						display: block;
						position: relative;
						width: 75px;
						margin-top: 8px;
						padding: 7px 10px 7px 30px;
						font-family: 'helvetica_neue';
						font-size: 14pt;	
						background-color: $color_grey;
						border: none;
					}
					.tab1_adult_up{
						display: block;
						position: absolute;						
						top: 31px;
						left: 94px;
						width: 21px;						
						height: 21px;
						background: url(../img/main_sprite.png) no-repeat;
						background-position: 0px -300px;
						cursor: pointer;	
						
						
					}
					.tab1_adult_dwn{
						display: block;
						position: absolute;
						top: 48px;
						left: 94px;
						width: 21px;						
						height: 21px;
						background: url(../img/main_sprite.png) no-repeat;
						background-position: 0px -325px;
						cursor: pointer;	
					}
				}
				.tab1_child{
					display: inline-block;
					position: relative;
					margin-left: 2px;
					color: #fff;
					font-family: 'helvetica_neue';
					font-size: 10.5pt;
					.tab1_child_fild{
						display: block;
						position: relative;
						width: 75px;
						margin-top: 8px;
						padding: 7px 10px 7px 30px;
						font-family: 'helvetica_neue';
						font-size: 14pt;	
						background-color: $color_grey;
						border: none;
					}
					.tab1_child_up{
						display: block;
						position: absolute;						
						top: 31px;
						left: 94px;
						width: 21px;						
						height: 21px;
						background: url(../img/main_sprite.png) no-repeat;
						background-position: 0px -300px;
						cursor: pointer;	
						
						
					}
					.tab1_child_dwn{
						display: block;
						position: absolute;
						top: 48px;
						left: 94px;
						width: 21px;						
						height: 21px;
						background: url(../img/main_sprite.png) no-repeat;
						background-position: 0px -325px;
						cursor: pointer;	
					}
				}
			}
			.tab1_detail{
				display: block;
				position: relative;
				width: 253px;
				padding-left: 20px;
				margin-top: 13px;
				color: #fff;
				text-align: left;
				font-family: 'helvetica_neue';
				font-size: 10.5pt;
				opacity: .2;
				.tab1_class{
					display: inline-block;
					position: relative;
					color: #fff;
					font-family: 'helvetica_neue';
					font-size: 10.5pt;
					.tab1_class_fild{
						display: block;
						position: relative;
						width: 75px;
						margin-top: 8px;
						padding: 7px 30px 7px 10px;
						font-family: 'helvetica_neue';
						font-size: 14pt;	
						background-color: $color_grey;
						border: none;
					}
					.tab1_class_arrow{
						display: block;
						position: absolute;
						top: 34px;
						left: 91px;
						width: 20px;
						height: 16px;
						background: url(../img/main_sprite.png) no-repeat;
						background-position: 0px -346px;
						cursor: pointer;
					}
				}
				.tab1_company{
					display: inline-block;
					position: relative;
					color: #fff;
					font-family: 'helvetica_neue';
					font-size: 10.5pt;
					margin-left: 2px;
					.tab1_company_fild{
						display: block;
						position: relative;
						width: 75px;
						margin-top: 8px;
						padding: 7px 10px 7px 30px;
						font-family: 'helvetica_neue';
						font-size: 14pt;	
						background-color: $color_grey;
						border: none;
					}
					.tab1_company_arrow{
						display: block;
						position: absolute;
						top: 34px;
						left: 91px;
						width: 20px;
						height: 16px;
						background: url(../img/main_sprite.png) no-repeat;
						background-position: 0px -346px;
						cursor: pointer;
					}
				}
/* ====================== стилизаци чекбокса ============================================== */				
				input[type="checkbox"] {
					display: none;
				}
				input[type="checkbox"] + label span {
					display:inline-block;
					width: 17px;
					height: 17px;
					top: -1px;
					margin-right: 10px;
					vertical-align:middle;
					background:url(../img/main_sprite.png) no-repeat;
					cursor:pointer;
					background-position: 0px -250px;
					font-size: 8pt;
					color: #fff;
					opacity: 1;
				}
				input[type="checkbox"]:checked + label span {
					background:url(../img/main_sprite.png) no-repeat;
					background-position: 0px -275px;
					opacity: 1;
				}
				label{
					display: block;
					width: 250px;
					margin-left: 0px;
					margin-top: 11px;
					font-family: 'helvetica_neue';
					font-size: 10.5pt;
					color: #fff;
					text-align: left;
					opacity: 1;
				}
			.tab1_find{
				display: block;
				position: relative;
				width: 235px;
				height: 45px;
				margin-top: 10px;
				border: none;
				background-color: $color_green;
				color: #fff;
				font-family: 'helvetica_neue';
				font-size: 13pt;
				font-weight: bold;
			}
	/* ==================================================================== */	
			}
		}
/* ============================================	 END	.order_tab1_back =================================== */		
		
	}
/*  ===============================================   END ORDER TAB1 ==================================== */	
	.order_tab2{
		display: none;
	}
}

.right_column{
	display: block;
	position: absolute;
	width: 98px;
	height: 100%;
	right: 0px;
	background-color: $color_blue;
	font-size: 20pt;
	color: #ff0;
	/*opacity: 0.5;*/
	overflow: hidden;
	.img_world{
		display: block;
		position: relative;
		width: 43px;
		height: 35px;
		margin: 0 auto;
		margin-top: 13px;
		background: url(../img/world.png) no-repeat;
		
	}
	ul{
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		margin-top: 16px;
		border-top: 1px solid $color_border;
		overflow: hidden;		
		.right_slider{
			display: block;
			position: absolute;
			width: 100%;
			height: 61px;
			padding-left: 12px;
			padding-top: 10pt;
			text-align: left;
			color: #fff;
			font-family: 'helvetica_neue';
			
			font-size: 9pt;
			border-bottom: 1px solid $color_border;
			
		}
		.right_slider_price{
			display: block;
			margin-top: 3px;
			font-family: 'helvetica_neue';
			color: $color_green;
		}
		.right_slider_temper{
			display: block;
			top: -2px;
			font-family: 'helvetica_neue';
			color: $color_blue_light;
			font-size: 9pt;
			font-weight: 900;
		}
		.right_slider_sun{
			top: 4px;
			width: 23px;
			height: 18px;
			background: url(../img/main_sprite.png) no-repeat;
			background-position: 0px 0px;
		}
		.right_slider:nth-child(2){
			.right_slider_sun{
				background-position: 0px -24px;
			}
		}
		.right_slider:nth-child(3){
			.right_slider_sun{
				background-position: 0px -48px;
			}
		}
		.right_slider:nth-child(4){
			.right_slider_sun{
				background-position: 0px -73px;
			}
		}
		.right_slider:nth-child(5){
			.right_slider_sun{
				background-position: 0px -100px;
			}
		}
		.right_slider:nth-child(6){
			.right_slider_sun{
				background-position: 0px -48px;
			}
		}
		.right_slider:nth-child(7){
			.right_slider_sun{
				background-position: 0px -73px;
			}
		}
		.right_slider:nth-child(8){
			.right_slider_sun{
				background-position: 0px -100px;
			}
		}
	}
	.right_column_gradient{
		display: block;
		position: absolute;
		width: 100%;
		height: 307px;
		left: 0px;
		bottom: 0px;
		background: url(../img/right_column_gradient.png) repeat-x;
	}
	.right_column_shadow{
		display: block;
		position: absolute;
		width: 3px;
		height: 100%;
		left: 0px;
		top: 0px;
		background: url(../img/right_column_shadow.png) repeat-y;
	}
}


.center_block{
	display: block;
	position: absolute;
	top: 60px;
	left: 273px;	
	font-size: 30pt;
	color: #fff;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	/*overflow: hidden;*/
	height: 100%;
	text-align: left;
	.calendar_block{
		display: block;
		position: absolute;
		top: 0px;
		left: -293px;
		width: 287px;
		height: 100%;
		background-color: #fff;
		z-index: 20;
		/*overflow: hidden;*/
		.calendar_header{
			display: block;
			position: relative;
			height: 40px;
			padding: 13px 0px 0px 20px;
			background-color: $color_blue_light;
			font-family: 'helvetica_neue';
			font-size: 18pt;
			font-weight: bold;
		}
		.calendar_cont{
			display: block;
			position: relative;
			overflow: hidden;
		}
		#month1{
			display: block;
			position: relative;
			left: -1px;
			font-size: 12pt;
			color: $color_blue;
		}
		td, th {
			border: 1px solid #e0e0e0;
			padding: 12px;
			text-align: center;
			font-size: 10.5pt;
			color: #0072ba;
			font-family: 'helvetica_neue';
			font-weight: 400;
		}
		td:nth-child(7n) {
			color: $color_red;
		}
		td:nth-child(6n) {
			color: $color_red;
		}
		
		table {
			display: block;
			position: relative;
			border-collapse: collapse;
		}
		.today{
			background-color: $color_red;
			color: #fff;
		}
		.mon1{
			padding: 25px 0px 25px 20px;
			font-family: 'helvetica_neue';			
			font-weight: bold;
			font-size: 13.5pt;
			color: $color_blue;
		}
		.year1{
			display: block;
			position: absolute;
			top: 25px;
			right: 20px;
			font-family: 'helvetica_neue';
			font-size: 13.5pt;
			color: #b4bcc2;
		}
		.calendar_bottom{
			display: block;
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 100%;
			height: 44px;
			background-color: $color_grey;
			z-index: 21;
			text-align: right;
			border-top: 1px solid #e0e0e0;
			overflow: hidden;
			.calendar_up, .calendar_dwn{
				display: inline-block;
				position: relative;
				padding: 18px 15px 15px 15px;
				width: 12px;
				height: 14px;
				cursor: pointer;
				border-left: 1px solid #e0e0e0;
				background-color: #d3d8db;
				.calendar_up_img, .calendar_dwn_img{
					display: block;
					position: relative;
					width: 13px;
					height: 9px;
					background: url(../img/main_sprite.png) no-repeat;
					background-position: 0px -400px;
				}
				.calendar_dwn_img{
					background-position: 0px -375px;					
				}
				
			}
			.calendar_dwn{
				background-color: #fff;
			}	
		}
		.calendar_shadow{
			display: block;
			position: absolute;
			top: 0px;
			right: -3px;
			width: 3px;
			height: 100%;
			background: url(../img/right_column_shadow.png) repeat-y;
			z-index: 22;
		}
	}
	
}

.footer{
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 44px;
	background-color: #fff;
	 z-index: 9;
	text-align: left;
	overflow: hidden;
	/*opacity: 0.5;*/
	.footer_shadow{
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		top: -3px;
		background: url(../img/footer_shadow.png) repeat-x;	
	}
	.footer_contact{
		display: inline-block;
		position: relative;
		margin-left: 273px;
		font-size: 8pt;
		font-family: 'helvetica_neue';
		color: $color_txt;
		li{
			display: inline-block;
			margin-top: 11px;
			padding: 4px 15px 4px 17px;
			border-left: 1px solid #dbdbdb;
			a{
				color: #0072ba;
			}
		}
	}
	.footer_right{
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 335px;
		height: 100%;
		text-align: right;
		.footer_iata{
			display: inline-block;
			position: relative;
			border-left: 1px solid #d8d8d8;
			/*top: -26px;*/
			width: 72px;
			height: 100%;
			/*background-color: #e4e8eb;*/
			.img_iata{
				display: block;
				position: absolute;
				top: 8px;
				left: 17px;
				width: 40px;
				height: 27px;
				
				background: url(../img/iata.png) no-repeat;
			}
		}
		.footer_isic{
			display: inline-block;
			position: relative;
			border-left: 1px solid #d8d8d8;
			/*top: -26px;*/
			width: 69px;
			height: 100%;
			/*background-color: #e4e8eb;*/
			.img_isic{
				display: block;
				position: absolute;
				top: 8px;
				left: 20px;
				width: 28px;
				height: 27px;
				
				background: url(../img/isic.png) no-repeat;
			}
		}
		.qwestion{
			display: inline-block;
			position: relative;
			top: -17px;
			padding-top: 9px;
			width: 187px;
			height: 100%;
			background-color: $color_blue_light;
			border-left: 1px solid #005b95;
			font-family: 'helvetica_neue';
			font-size: 11pt;
			color: #fff;
			text-decoration: none;
			.qwestion_info{
				dispaly: inline-block;
				position: relative;
				top: 3px;
				width: 18px;
				height: 18px;
				margin-right: 22px;
				margin-left: 5px;
				background: url(../img/info.png) no-repeat;
			}
		}
		.qwestion:hover{
				background-color: $color_blue_light_hover;
		}	
		
	}
}

.login_form_fon{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/*background-color: #cc0; */
	z-index: 500;
	.login_form{
		display: block;
		position: absolute;
		top: -144px;          /*   60  */
		right: 0px;
		width: 221px;
		height: 205px;
		background-color: $color_green;
		text-align: left;
		.login_name_fild{
			display: block;
			position: relative;
			width: 181px;
			margin-top: 12px;
			margin-left: 10px;
			padding: 7px 10px 7px 10px;
			font-family: 'helvetica_neue';
			font-size: 13pt;	
			background-color: $color_grey;
			border: none;
			font-weight: 600;
			color: $color_txt;
		}
		.login_psw_fild{
			display: block;
			position: relative;
			width: 181px;
			margin-top: 12px;
			margin-left: 10px;
			padding: 7px 10px 7px 10px;
			font-family: 'helvetica_neue';
			font-size: 15pt;	
			background-color: $color_grey;
			border: none;
			font-weight: 600;
			color: $color_txt;
		}
		.login_enter{
			display: inline-block;
			position: relative;
			width: 87px;
			height: 30px;
			margin-left: 10px;
			margin-top: 10px;
			padding-top: 5px;
			background-color: $color_blue;
			color: #fff;
			font-family: 'helvetica_neue';
			font-size: 15pt;
			font-weight: bold;
			text-decoration: none;
			text-align: center;
		}
		.login_enter:hover{
			background-color: #023f68;
		}
		.login_help{
			display: inline-block;
			position: relative;	
			top: 5px;
			width: 90px;
			margin-left: 15px;
		
			font-size: 10pt;
			color: #fff;
			font-family: 'helvetica_neue';
		}
		.login_registr{
			display: block;
			position: relative;
			width: 201px;
			height: 26px;
			padding-top: 9px;
			margin-left: 10px;
			margin-top: 18px;
			background-color: $color-red;
			color: #fff;
			font-family: 'helvetica_neue';
			font-size: 10.5pt;
			font-weight: bold;
			text-decoration: none;
			text-align: center;
		}
		.login_registr:hover{
			background-color: #d34735;
		}
	}
}

@media only screen and (max-width: 1279px){
	h1{
		font-size: 24pt;
	}
	.main_fon{
		.slogan{
			width: 390px;
			left: 30px;
			
			
		}
	}
	#footer_tel{
		display: none;
	}
	
}

