$color_green: #49b69c;
$color_green_hover: #55d4b6;
$color_blue: #002a46;
$color_blue_light: #0072ba;
$color_blue_light_hover: #0285d8;
$color_red: #c44231;
$color_red_hover: #e04c38;
$color_txt: #2e363d;
$color_border: #1a4059;



@font-face {
    font-family: 'helvetica_neue';
    src: url('../fonts/helveticaneue-webfont.eot');
    src: url('../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_bold';
    src: url('../fonts/Helvetica_Bold.eot');
    src: url('../fonts/Helvetica_Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica_Bold.woff') format('woff'),
         url('../fonts/Helvetica_Bold.ttf') format('truetype'),
         url('../fonts/Helvetica_Bold.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

ul, li, div, a, span{
	display: inline-block;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.txt_bold{
	font-weight: bold;
	color: #000;
}

h1{
	font-size: 29pt;
	font-family: 'helvetica_bold';
}

input:focus{outline:none}
textarea:focus{outline:none}
 
html, body {height: 100%}
 
body{ 
	text-align: center;
	margin: 0px 0px 0px 0px;
	font-size: 0pt;
	min-width: 1024px; 
	background-color: #000;
	/*overflow: hidden;*/
}

.main_fon{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 30pt;
	color: #fff;
	background-color: #0ff;
	background: url(../img/fon1.jpg) no-repeat;
	background-size: cover;
	background-position:50% 50%;
	font-family: 'helvetica_neue';
	min-width: 1024px; 
	.center_fon{
		display: block;
		position: absolute;
		top: 60px;
		left: 273px;	
		font-size: 30pt;
		color: #fff;
		/*padding-left: 10px;
		padding-right: 90px;*/
		overflow: hidden;
		height: 100%;
		text-align: left;
		background: url(../img/main_shadow.png) repeat-x;
	}
	.slogan{
		display: block;
		position: absolute;
		width: 455px;
		top: 52px;
		left: 60px;
		color: #fff;
		font-weight: bold;
	}
	.price{
		display: block;
		position: absolute;
		width: 150px;
		top: 52px;
		padding-left: 25px;
		right: 40px;
		font-family: 'helvetica_bold'; 
		font-weight: bold;
		color: $color_green;
		border-left: 1px solid #4d7183;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 5px;
		.start_city{
			font-size: 11.5pt;
			font-family: 'helvetica_neue';
			font-weight: 400;
		}
	}
}

#fon2{
	background: url(../img/fon2.jpg) no-repeat;
	background-size: cover;
	background-position:50% 50%;
	opacity: 0;
}

.container{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 1024px;

}

.header{
	display: block;
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: #fff;
	z-index: 11;
	text-align: left;
	.logo{
		display: inline-block;
		position: relative;
		top: -14px;
		width: 130px;
		height: 38px;
		margin-top: 8px;
		margin-left: 14px;
		background: url(../img/logo.png) no-repeat;	
	}
	.tel{
		display: inline-block;
		position: relative;
		top: -16px;
		padding-left: 13px;
		margin-left: 8px;
		color: $color_green;
		font-size: 13.5pt;
		font-family: 'helvetica_bold';
		border-left: 1px solid #dbdbdb;
		.tel_txt{
			display: block;
			position: relative;
			color: #abb0b4;
			font-size: 8pt;
		}
	}
	.header_separ{
		display: inline-block;
		position: relative;
		height: 100%;
		margin-left: 20px;
		border-left: 1px solid #dbdbdb;
	}
	.student{
		display: inline-block;
		position: relative;
		top: -26px;
		margin-left: 13px;
		padding: 9px 18px 9px 18px;
		background-color: $color_red;
		font-family: 'helvetica_bold';
		font-size: 11pt;
		color: #fff;
		text-decoration: none;
	}
	.student:hover{
		background-color: $color_red_hover;
	}
	.student_txt{
		display: inline-block;
		position: relative;
		top: -21px;
		width: 120px;
		margin-left: 9px;
		color: $color_txt;
		font-size: 8pt;
		font-family: 'helvetica_neue';
	}
	.header_right{
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 480px;
		height: 100%;
		.header_menu{
			display: block;
			position: absolute;
			top: 0px;
			right: 98px;
			width: 410px;
			height: 100%;
			color: $color_txt;
			font-family: 'helvetica_bold';
			font-size: 9.5pt;
			li{
				display: inline-block;
				position: relative;
				margin-left: 18px;
				margin-top: 21px;
				a{
					color: $color_txt;
					text-decoration: none;
				}
			}
		}
		.btn_login{
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			width: 98px;
			height: 100%;
			background-color: $color_green;
			cursor: pointer;
			span{
				display: block;
				position: absolute;
				top: 20px;
				left: 17px;
				padding-left: 22px;
				color: #fff;
				font-family: 'helvetica_bold';
				font-size: 11pt;
				background: url(../img/img_login.png) no-repeat;
				
			}
		}
		.btn_login:hover{
			background-color: $color_green_hover;
		}
	}
}

.top_space{
	display: block;
	position: relative;
	width: 100%; 
	height: 60px;
}

.left_column{
	display: block;
	position: absolute;
	width: 273px;
	height: 100%;
	left: 0px;
	background-color: $color_blue_light;
	font-size: 20pt;
	color: #ff0;
	z-index: 10;
	overflow: hidden;
	.left_column_name{
		display: block;
		position: relative;
		width: 100%;
		padding: 13px 15px 13px 20px;
		background-color: $color_blue_light;
		color: #fff;
		font-family: 'helvetica_bold';
		font-size: 18pt;
		text-align: left;		
	}
	.left_column_name_img{
		display: block;
		position: absolute;
		top: 22px;
		left: 215px;
		width: 42px;
		height: 16px;
		background: url(../img/main_sprite.png) no-repeat;
		background-position: 0px -125px;
		z-index: 120;
	}
	.select_tab{
		display: block;
		position: absolute;
		width: 140px;
		height: 40px;
		background-color: $color_blue;
		top: 115px;
		left: 0px;
	}
	.menu_order{
		display: block;
		position: repative;
		.menu_tab{
			display: inline-block;
			position: relative;
			padding: 14px 14px 14px 14px;
			color: $color_green;
			font-family: 'helvetica_bold';
			font-size: 8pt;
		}
		.menu_tab:last-child{
			cursor: pointer;
			/*color: $color_blue;*/
		}
		
	} 
	.order_tab1{
		display: block;
		position: relative;
		
		background-color: $color_blue;
	}
}

.right_column{
	display: block;
	position: absolute;
	width: 98px;
	height: 100%;
	right: 0px;
	background-color: $color_blue;
	font-size: 20pt;
	color: #ff0;
	/*opacity: 0.5;*/
	overflow: hidden;
	.img_world{
		display: block;
		position: relative;
		width: 43px;
		height: 35px;
		margin: 0 auto;
		margin-top: 13px;
		background: url(../img/world.png) no-repeat;
		
	}
	ul{
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		margin-top: 16px;
		border-top: 1px solid $color_border;
		overflow: hidden;		
		.right_slider{
			display: block;
			position: absolute;
			width: 100%;
			height: 61px;
			padding-left: 12px;
			padding-top: 10pt;
			text-align: left;
			color: #fff;
			font-family: 'helvetica_bold';
			
			font-size: 9pt;
			border-bottom: 1px solid $color_border;
			
		}
		.right_slider_price{
			display: block;
			margin-top: 3px;
			font-family: 'helvetica_neue';
			color: $color_green;
		}
		.right_slider_temper{
			display: block;
			top: -2px;
			font-family: 'helvetica_neue';
			color: $color_blue_light;
			font-size: 9pt;
			font-weight: 900;
		}
		.right_slider_sun{
			top: 4px;
			width: 23px;
			height: 18px;
			background: url(../img/main_sprite.png) no-repeat;
			background-position: 0px 0px;
		}
		.right_slider:nth-child(2){
			.right_slider_sun{
				background-position: 0px -24px;
			}
		}
		.right_slider:nth-child(3){
			.right_slider_sun{
				background-position: 0px -48px;
			}
		}
		.right_slider:nth-child(4){
			.right_slider_sun{
				background-position: 0px -73px;
			}
		}
		.right_slider:nth-child(5){
			.right_slider_sun{
				background-position: 0px -100px;
			}
		}
		.right_slider:nth-child(6){
			.right_slider_sun{
				background-position: 0px -48px;
			}
		}
		.right_slider:nth-child(7){
			.right_slider_sun{
				background-position: 0px -73px;
			}
		}
		.right_slider:nth-child(8){
			.right_slider_sun{
				background-position: 0px -100px;
			}
		}
	}
	
}


.center_block{
	display: block;
	position: absolute;
	top: 50px;
	left: 263px;	
	font-size: 30pt;
	color: #fff;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	height: 100%;
	text-align: left;
	
	
}

.footer{
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 44px;
	background-color: #fff;
	z-index: 9;
	text-align: left;
	overflow: hidden;
	/*opacity: 0.5;*/
	.footer_shadow{
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		top: -3px;
		background: url(../img/footer_shadow.png) repeat-x;	
	}
	.footer_contact{
		display: inline-block;
		position: relative;
		margin-left: 273px;
		font-size: 8pt;
		font-family: 'helvetica_neue';
		color: $color_txt;
		li{
			display: inline-block;
			margin-top: 11px;
			padding: 4px 15px 4px 17px;
			border-left: 1px solid #dbdbdb;
			a{
				color: #0072ba;
			}
		}
	}
	.footer_right{
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 335px;
		height: 100%;
		text-align: right;
		.footer_iata{
			display: inline-block;
			position: relative;
			border-left: 1px solid #d8d8d8;
			/*top: -26px;*/
			width: 72px;
			height: 100%;
			background-color: #e4e8eb;
			.img_iata{
				display: block;
				position: absolute;
				top: 8px;
				left: 17px;
				width: 40px;
				height: 27px;
				
				background: url(../img/iata.png) no-repeat;
			}
		}
		.footer_isic{
			display: inline-block;
			position: relative;
			border-left: 1px solid #d8d8d8;
			/*top: -26px;*/
			width: 69px;
			height: 100%;
			background-color: #e4e8eb;
			.img_isic{
				display: block;
				position: absolute;
				top: 8px;
				left: 20px;
				width: 28px;
				height: 27px;
				
				background: url(../img/isic.png) no-repeat;
			}
		}
		.qwestion{
			display: inline-block;
			position: relative;
			top: -17px;
			padding-top: 9px;
			width: 187px;
			height: 100%;
			background-color: $color_blue_light;
			border-left: 1px solid #005b95;
			font-family: 'helvetica_bold';
			font-size: 11pt;
			color: #fff;
			text-decoration: none;
			.qwestion_info{
				dispaly: inline-block;
				position: relative;
				top: 3px;
				width: 18px;
				height: 18px;
				margin-right: 22px;
				margin-left: 5px;
				background: url(../img/info.png) no-repeat;
			}
		}
		.qwestion:hover{
				background-color: $color_blue_light_hover;
		}	
		
	}
}

@media only screen and (max-width: 1279px){
	h1{
		font-size: 24pt;
	}
	.main_fon{
		.slogan{
			width: 390px;
			left: 30px;
			
			
		}
	}
	#footer_tel{
		display: none;
	}
	
}