@charset "IBM866";
@font-face {
  font-family: 'helvetica_neue';
  src: url("../fonts/helveticaneue-webfont.eot");
  src: url("../fonts/helveticaneue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-webfont.woff") format("woff"), url("../fonts/helveticaneue-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-webfont.svg#helvetica_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_bold';
  src: url("../fonts/Helvetica_Bold.eot");
  src: url("../fonts/Helvetica_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica_Bold.woff") format("woff"), url("../fonts/Helvetica_Bold.ttf") format("truetype"), url("../fonts/Helvetica_Bold.svg#helvetica_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 38, ../sass/styles.scss */
ul, li, div, a, span {
  display: inline-block;
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* line 45, ../sass/styles.scss */
.txt_bold {
  font-weight: bold;
  color: #000;
}

/* line 50, ../sass/styles.scss */
h1 {
  font-size: 29pt;
  font-family: 'helvetica_neue';
}

/* line 55, ../sass/styles.scss */
input:focus {
  outline: none;
}

/* line 56, ../sass/styles.scss */
textarea:focus {
  outline: none;
}

/* line 57, ../sass/styles.scss */
checkbox:focus {
  outline: none;
}

/* line 58, ../sass/styles.scss */
div:focus {
  outline: none;
}

/* line 59, ../sass/styles.scss */
p {
  margin: 0px;
  font-size: 0pt;
}

/* line 64, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 66, ../sass/styles.scss */
body {
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 0pt;
  min-width: 1024px;
  background-color: #000;
  /*overflow: hidden;*/
}

/* line 75, ../sass/styles.scss */
.main_fon {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 30pt;
  color: #fff;
  background-color: #0ff;
  background: url(../img/fon1.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  font-family: 'helvetica_neue';
  min-width: 1024px;
}
/* line 88, ../sass/styles.scss */
.main_fon .center_fon {
  display: block;
  position: absolute;
  top: 60px;
  left: 273px;
  font-size: 30pt;
  color: #fff;
  /*padding-left: 10px;
  padding-right: 90px;*/
  overflow: hidden;
  height: 100%;
  text-align: left;
  background: url(../img/main_shadow.png) repeat-x;
}
/* line 102, ../sass/styles.scss */
.main_fon .slogan {
  display: block;
  position: absolute;
  width: 505px;
  top: 52px;
  left: 60px;
  color: #fff;
  font-family: 'helvetica_bold';
  font-weight: 400;
}
/* line 112, ../sass/styles.scss */
.main_fon .price {
  display: block;
  position: absolute;
  width: 150px;
  top: 52px;
  padding-left: 25px;
  right: 40px;
  font-family: 'helvetica_bold';
  color: #49b69c;
  border-left: 1px solid #4d7183;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}
/* line 125, ../sass/styles.scss */
.main_fon .price .start_city {
  font-size: 11.5pt;
  font-family: 'helvetica_neue';
  font-weight: 400;
}

/* line 133, ../sass/styles.scss */
#fon2 {
  background: url(../img/fon2.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
}

/* line 140, ../sass/styles.scss */
.container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1024px;
}

/* line 149, ../sass/styles.scss */
.header {
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 501;
  text-align: left;
}
/* line 157, ../sass/styles.scss */
.header .logo {
  display: inline-block;
  position: relative;
  top: -14px;
  width: 130px;
  height: 38px;
  margin-top: 8px;
  margin-left: 14px;
  background: url(../img/logo.png) no-repeat;
}
/* line 167, ../sass/styles.scss */
.header .tel {
  display: inline-block;
  position: relative;
  top: -16px;
  padding-left: 13px;
  margin-left: 8px;
  color: #49b69c;
  font-size: 13.5pt;
  font-family: 'helvetica_neue';
  border-left: 1px solid #dbdbdb;
}
/* line 177, ../sass/styles.scss */
.header .tel .tel_txt {
  display: block;
  position: relative;
  color: #abb0b4;
  font-size: 8pt;
}
/* line 184, ../sass/styles.scss */
.header .header_separ {
  display: inline-block;
  position: relative;
  height: 100%;
  margin-left: 20px;
  border-left: 1px solid #dbdbdb;
}
/* line 191, ../sass/styles.scss */
.header .student {
  display: inline-block;
  position: relative;
  top: -26px;
  margin-left: 13px;
  padding: 9px 18px 9px 18px;
  background-color: #c44231;
  font-family: 'helvetica_neue';
  font-size: 11pt;
  color: #fff;
  text-decoration: none;
}
/* line 203, ../sass/styles.scss */
.header .student:hover {
  background-color: #e04c38;
}
/* line 206, ../sass/styles.scss */
.header .student_txt {
  display: inline-block;
  position: relative;
  top: -21px;
  width: 120px;
  margin-left: 9px;
  color: #2e363d;
  font-size: 8pt;
  font-family: 'helvetica_neue';
}
/* line 216, ../sass/styles.scss */
.header .header_right {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 480px;
  height: 100%;
}
/* line 223, ../sass/styles.scss */
.header .header_right .header_menu {
  display: block;
  position: absolute;
  top: 0px;
  right: 98px;
  width: 410px;
  height: 100%;
  color: #2e363d;
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 9pt;
}
/* line 234, ../sass/styles.scss */
.header .header_right .header_menu li {
  display: inline-block;
  position: relative;
  margin-left: 18px;
  margin-top: 21px;
}
/* line 239, ../sass/styles.scss */
.header .header_right .header_menu li a {
  color: #2e363d;
  text-decoration: none;
}
/* line 245, ../sass/styles.scss */
.header .header_right .btn_login {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 97px;
  height: 100%;
  background-color: #49b69c;
  cursor: pointer;
  border-left: 1px solid #429984;
}
/* line 255, ../sass/styles.scss */
.header .header_right .btn_login span {
  display: block;
  position: absolute;
  top: 20px;
  left: 17px;
  padding-left: 22px;
  padding-top: 2px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 10pt;
  background: url(../img/img_login.png) no-repeat;
}
/* line 270, ../sass/styles.scss */
.header .header_right .btn_login:hover {
  background-color: #55d4b6;
}

/* line 277, ../sass/styles.scss */
.top_space {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
}

/* line 284, ../sass/styles.scss */
.left_column {
  display: block;
  position: absolute;
  width: 273px;
  height: 100%;
  left: 0px;
  background-color: #0072ba;
  font-size: 20pt;
  color: #ff0;
  z-index: 100;
  overflow: hidden;
  /*  ===============================================   BEGIN ORDER TAB1 ==================================== */
  /*  ===============================================   END ORDER TAB1 ==================================== */
}
/* line 295, ../sass/styles.scss */
.left_column .left_column_gradient {
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  right: 0px;
  top: 0px;
  background: url(../img/left_column_shadow.png) repeat-y;
}
/* line 304, ../sass/styles.scss */
.left_column .left_column_name {
  display: block;
  position: relative;
  width: 100%;
  padding: 13px 15px 13px 20px;
  background-color: #0072ba;
  color: #fff;
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 18pt;
  text-align: left;
}
/* line 316, ../sass/styles.scss */
.left_column .left_column_name_img {
  display: block;
  position: absolute;
  top: 22px;
  left: 215px;
  width: 42px;
  height: 16px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -125px;
  z-index: 120;
}
/* line 327, ../sass/styles.scss */
.left_column .select_tab {
  display: block;
  position: absolute;
  width: 140px;
  height: 40px;
  background-color: #002a46;
  top: 115px;
  left: 0px;
}
/* line 336, ../sass/styles.scss */
.left_column .menu_order {
  display: block;
  position: repative;
}
/* line 339, ../sass/styles.scss */
.left_column .menu_order .menu_tab {
  display: inline-block;
  position: relative;
  padding: 14px 12px 14px 12px;
  color: #49b69c;
  font-family: 'helvetica_bold';
  font-size: 8pt;
}
/* line 347, ../sass/styles.scss */
.left_column .menu_order .menu_tab:last-child {
  cursor: pointer;
  /*color: $color_blue;*/
}
/* line 354, ../sass/styles.scss */
.left_column .order_tab1 {
  display: block;
  position: relative;
  width: 273px;
  top: -2px;
  background-color: #002a46;
  text-align: left;
  overflow-y: hidden;
  /*overflow-y: scroll;
  overflow-y: auto;*/
  overflow-x: hidden;
  padding-bottom: 10px;
  /* ============================================	 BEGIN	.order_tab1_back =================================== */
  /* ============================================	 END	.order_tab1_back =================================== */
}
/* line 366, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main {
  display: block;
  position: relative;
  width: 273px;
  z-index: 1;
  /* ====================== стилизаци чекбокса ============================================== */
  /* ==================================================================== */
}
/* line 371, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .order_tab1_city {
  display: block;
  position: relative;
  text-align: left;
}
/* line 376, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from, .left_column .order_tab1 .order_tab1_main .tab1_to {
  display: inline-block;
  position: relative;
  width: 110px;
  margin-top: 2px;
  margin-left: 20px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  text-align: left;
}
/* line 387, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from {
  margin-top: 15px;
}
/* line 390, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from_info, .left_column .order_tab1 .order_tab1_main .tab1_to_info {
  display: inline-block;
  position: relative;
  width: 102px;
  margin-top: 12px;
  color: #49b69c;
  font-family: 'helvetica_neue';
  font-size: 8.5pt;
  text-align: right;
}
/* line 400, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from_clear, .left_column .order_tab1 .order_tab1_main .tab1_to_clear {
  dislpay: inline-block;
  position: relative;
  top: 1px;
  width: 10px;
  height: 10px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -149px;
  cursor: pointer;
}
/* line 411, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from_fild, .left_column .order_tab1 .order_tab1_main .tab1_to_fild {
  display: block;
  position: relative;
  width: 196px;
  margin-left: 20px;
  margin-top: 3px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 14pt;
  border: none;
  background-color: #e4e8eb;
}
/* line 425, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from_o, .left_column .order_tab1 .order_tab1_main .tab1_to_o {
  display: block;
  position: absolute;
  width: 12px;
  height: 19px;
  top: 47px;
  left: 30px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -175px;
}
/* line 435, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_to_o {
  top: 119px;
}
/* line 439, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main input[type="checkbox"] {
  display: none;
}
/* line 442, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main input[type="checkbox"] + label span {
  display: inline-block;
  width: 17px;
  height: 17px;
  top: -1px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../img/main_sprite.png) no-repeat;
  cursor: pointer;
  background-position: 0px -250px;
  font-size: 8pt;
  color: #fff;
}
/* line 455, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main input[type="checkbox"]:checked + label span {
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -275px;
}
/* line 459, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main label {
  display: block;
  width: 250px;
  margin-left: 20px;
  margin-top: 11px;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  color: #fff;
  text-align: left;
}
/* line 470, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_from {
  display: none;
  position: relative;
  width: 253px;
  padding-left: 20px;
  margin-top: 23px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
}
/* line 480, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_from .tab1_time_from_fild {
  display: block;
  position: relative;
  width: 216px;
  margin-top: 6px;
  border: none;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
}
/* line 491, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_from .calendar {
  display: block;
  position: absolute;
  width: 17px;
  height: 19px;
  top: 30px;
  left: 230px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -200px;
  cursor: pointer;
}
/* line 505, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_from {
  display: none;
  position: relative;
  width: 253px;
  height: 70px;
  padding-left: 20px;
  opacity: .2;
}
/* line 514, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_from .tab1_timeline_txt {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  height: 18px;
  color: #49b69c;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -225px;
}
/* line 525, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_from .tab1_select_time {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10pt;
}
/* line 533, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_from .tab1_timeline_unit {
  display: inline-block;
  position: relative;
  top: -4px;
  font-family: 'helvetica_neue';
  font-size: 9pt;
  color: #4a657a;
}
/* line 541, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_from .tab1_timeline_all {
  display: inline-block;
  position: relative;
  top: -5px;
  width: 144px;
  height: 5px;
  margin: 0px 8px 0px 8px;
  background-color: #173c56;
}
/* line 550, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_from .tab1_timeline_select {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 30px;
  width: 80px;
  height: 5px;
  background-color: #fff;
}
/* line 559, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_from .tab1_timeline_bar1 {
  display: block;
  position: absolute;
  top: 0px;
  left: 25px;
  width: 11px;
  height: 17px;
  background: url(../img/time_arrow.png) no-repeat;
  cursor: pointer;
}
/* line 569, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_from .tab1_timeline_bar2 {
  display: block;
  position: absolute;
  top: 0px;
  left: 105px;
  width: 11px;
  height: 17px;
  background: url(../img/time_arrow.png) no-repeat;
  cursor: pointer;
}
/* line 580, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_back {
  display: none;
  position: relative;
  width: 253px;
  height: 70px;
  padding-left: 20px;
  opacity: .2;
}
/* line 587, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_back .tab1_timeline_txt {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  height: 18px;
  color: #49b69c;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -225px;
}
/* line 598, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_back .tab1_select_time {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 606, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_back .tab1_timeline_unit {
  display: inline-block;
  position: relative;
  top: -4px;
  font-family: 'helvetica_neue';
  font-size: 9pt;
  color: #4a657a;
}
/* line 614, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_back .tab1_timeline_all {
  display: inline-block;
  position: relative;
  top: -5px;
  width: 144px;
  height: 5px;
  margin: 0px 8px 0px 8px;
  background-color: #173c56;
}
/* line 623, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_back .tab1_timeline_select {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 30px;
  width: 80px;
  height: 5px;
  background-color: #fff;
}
/* line 632, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_back .tab1_timeline_bar1 {
  display: block;
  position: absolute;
  top: 0px;
  left: 25px;
  width: 11px;
  height: 17px;
  background: url(../img/time_arrow.png) no-repeat;
  cursor: pointer;
}
/* line 642, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_timeline_back .tab1_timeline_bar2 {
  display: block;
  position: absolute;
  top: 0px;
  left: 105px;
  width: 11px;
  height: 17px;
  background: url(../img/time_arrow.png) no-repeat;
  cursor: pointer;
}
/* line 653, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_back {
  display: none;
  position: relative;
  left: 0px;
  width: 253px;
  padding-left: 20px;
  margin-top: 10px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: 0;
}
/* line 664, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_back .tab1_time_back_fild {
  display: block;
  position: relative;
  width: 216px;
  margin-top: 8px;
  border: none;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
}
/* line 675, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_back .calendar {
  display: block;
  position: absolute;
  width: 17px;
  height: 19px;
  top: 32px;
  left: 230px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -200px;
  cursor: pointer;
}
/* line 687, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people {
  display: none;
  position: relative;
  left: 0px;
  width: 253px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 13px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: 0.2;
}
/* line 699, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_adult {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 705, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_adult .tab1_adult_fild {
  display: block;
  position: relative;
  width: 95px;
  margin-top: 8px;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 716, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_adult .tab1_adult_up {
  display: block;
  position: absolute;
  top: 26px;
  left: 94px;
  width: 21px;
  height: 12px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -295px;
  cursor: pointer;
}
/* line 729, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_adult .tab1_adult_dwn {
  display: block;
  position: absolute;
  top: 48px;
  left: 94px;
  width: 21px;
  height: 12px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -325px;
  cursor: pointer;
}
/* line 741, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_child {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 748, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_child .tab1_child_fild {
  display: block;
  position: relative;
  width: 95px;
  margin-top: 8px;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 759, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_child .tab1_child_up {
  display: block;
  position: absolute;
  top: 31px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -300px;
  cursor: pointer;
}
/* line 772, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_child .tab1_child_dwn {
  display: block;
  position: absolute;
  top: 48px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -325px;
  cursor: pointer;
}
/* line 785, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail {
  display: none;
  position: relative;
  width: 253px;
  padding-left: 20px;
  margin-top: 0px;
  color: #fff;
  text-align: left;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: 1;
  /* ====================== стилизаци чекбокса ============================================== */
  /* ==================================================================== */
}
/* line 796, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail .tab1_class {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 802, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail .tab1_class .tab1_class_fild {
  display: block;
  position: relative;
  width: 75px;
  margin-top: 8px;
  padding: 7px 30px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 813, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail .tab1_class .tab1_class_arrow {
  display: block;
  position: absolute;
  top: 34px;
  left: 91px;
  width: 20px;
  height: 16px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -346px;
  cursor: pointer;
}
/* line 825, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail .tab1_company {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  margin-left: 2px;
}
/* line 832, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail .tab1_company .tab1_company_fild {
  display: block;
  position: relative;
  width: 75px;
  margin-top: 8px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 843, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail .tab1_company .tab1_company_arrow {
  display: block;
  position: absolute;
  top: 34px;
  left: 91px;
  width: 20px;
  height: 16px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -346px;
  cursor: pointer;
}
/* line 856, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail input[type="checkbox"] {
  display: none;
}
/* line 860, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail input[type="checkbox"] + label span {
  display: inline-block;
  width: 17px;
  height: 17px;
  top: -1px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../img/main_sprite.png) no-repeat;
  cursor: pointer;
  background-position: 0px -250px;
  font-size: 8pt;
  color: #fff;
  opacity: 1;
  border: none;
}
/* line 875, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail input[type="checkbox"]:checked + label span {
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -275px;
  opacity: 1;
  border: none;
}
/* line 881, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail label {
  display: block;
  width: 250px;
  margin-left: 0px;
  margin-top: 11px;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  color: #fff;
  text-align: left;
  opacity: 1;
  border: none;
}
/* line 893, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_detail .tab1_find {
  display: block;
  position: relative;
  width: 235px;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #49b69c;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 13pt;
  font-weight: bold;
  cursor: pointer;
}
/* line 913, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  /* ====================== стилизаци чекбокса ============================================== */
  /* ==================================================================== */
}
/* line 918, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .order_tab1_city {
  display: block;
  position: relative;
  text-align: left;
  opacity: 0;
}
/* line 924, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from, .left_column .order_tab1 .order_tab1_back .tab1_to {
  display: inline-block;
  position: relative;
  width: 110px;
  margin-top: 2px;
  margin-left: 20px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  text-align: left;
  opacity: 0;
}
/* line 936, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from {
  margin-top: 15px;
  opacity: 0;
}
/* line 940, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from_info, .left_column .order_tab1 .order_tab1_back .tab1_to_info {
  display: inline-block;
  position: relative;
  width: 102px;
  margin-top: 12px;
  color: #49b69c;
  font-family: 'helvetica_neue';
  font-size: 8.5pt;
  text-align: right;
  opacity: 0;
}
/* line 951, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from_clear, .left_column .order_tab1 .order_tab1_back .tab1_to_clear {
  dislpay: inline-block;
  position: relative;
  top: 1px;
  width: 10px;
  height: 10px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -149px;
  cursor: pointer;
  opacity: 0;
}
/* line 963, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from_fild, .left_column .order_tab1 .order_tab1_back .tab1_to_fild {
  display: block;
  position: relative;
  width: 196px;
  margin-left: 20px;
  margin-top: 3px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 14pt;
  border: none;
  background-color: #e4e8eb;
  opacity: 0;
}
/* line 978, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from_o, .left_column .order_tab1 .order_tab1_back .tab1_to_o {
  display: block;
  position: absolute;
  width: 12px;
  height: 19px;
  top: 46px;
  left: 30px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -175px;
  opacity: 0;
}
/* line 989, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_to_o {
  top: 116px;
  opacity: 0;
}
/* line 994, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back input[type="checkbox"] {
  display: none;
}
/* line 997, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back input[type="checkbox"] + label span {
  display: inline-block;
  width: 17px;
  height: 17px;
  top: -1px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../img/main_sprite.png) no-repeat;
  cursor: pointer;
  background-position: 0px -250px;
  font-size: 8pt;
  color: #fff;
  opacity: 0;
}
/* line 1011, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back input[type="checkbox"]:checked + label span {
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -275px;
  opacity: 0;
}
/* line 1016, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back label {
  display: block;
  width: 250px;
  margin-left: 20px;
  margin-top: 11px;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  color: #fff;
  text-align: left;
  opacity: 0;
}
/* line 1028, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_from {
  display: block;
  position: relative;
  width: 253px;
  padding-left: 20px;
  margin-top: 23px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
}
/* line 1039, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_from .tab1_time_from_fild {
  display: block;
  position: relative;
  width: 196px;
  margin-top: 6px;
  border: none;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
}
/* line 1049, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_from .calendar {
  display: block;
  position: absolute;
  width: 17px;
  height: 19px;
  top: 30px;
  left: 230px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -200px;
  cursor: pointer;
}
/* line 1061, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_from {
  display: block;
  position: relative;
  width: 253px;
  height: 70px;
  padding-left: 20px;
  opacity: .2;
}
/* line 1068, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_from .tab1_timeline_txt {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  height: 18px;
  color: #49b69c;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -225px;
}
/* line 1079, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_from .tab1_select_time {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 1087, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_from .tab1_timeline_unit {
  display: inline-block;
  position: relative;
  top: -4px;
  font-family: 'helvetica_neue';
  font-size: 9pt;
  color: #4a657a;
}
/* line 1095, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_from .tab1_timeline_all {
  display: inline-block;
  position: relative;
  top: -5px;
  width: 144px;
  height: 5px;
  margin: 0px 8px 0px 8px;
  background-color: #173c56;
}
/* line 1104, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_from .tab1_timeline_select {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 30px;
  width: 80px;
  height: 5px;
  background-color: #fff;
}
/* line 1113, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_from .tab1_timeline_bar1 {
  display: block;
  position: absolute;
  top: 0px;
  left: 25px;
  width: 11px;
  height: 17px;
  background: url(../img/time_arrow.png) no-repeat;
  cursor: pointer;
}
/* line 1123, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_from .tab1_timeline_bar2 {
  display: block;
  position: absolute;
  top: 0px;
  left: 105px;
  width: 11px;
  height: 17px;
  background: url(../img/time_arrow.png) no-repeat;
  cursor: pointer;
}
/* line 1134, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_back {
  display: block;
  position: relative;
  width: 253px;
  height: 70px;
  padding-left: 20px;
  opacity: .2;
}
/* line 1141, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_back .tab1_timeline_txt {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  height: 18px;
  color: #49b69c;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -225px;
}
/* line 1152, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_back .tab1_select_time {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 1160, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_back .tab1_timeline_unit {
  display: inline-block;
  position: relative;
  top: -4px;
  font-family: 'helvetica_neue';
  font-size: 9pt;
  color: #4a657a;
}
/* line 1168, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_back .tab1_timeline_all {
  display: inline-block;
  position: relative;
  top: -5px;
  width: 144px;
  height: 5px;
  margin: 0px 8px 0px 8px;
  background-color: #173c56;
}
/* line 1177, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_back .tab1_timeline_select {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 30px;
  width: 80px;
  height: 5px;
  background-color: #fff;
}
/* line 1186, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_back .tab1_timeline_bar1 {
  display: block;
  position: absolute;
  top: 0px;
  left: 25px;
  width: 11px;
  height: 17px;
  background: url(../img/time_arrow.png) no-repeat;
  cursor: pointer;
}
/* line 1196, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_timeline_back .tab1_timeline_bar2 {
  display: block;
  position: absolute;
  top: 0px;
  left: 105px;
  width: 11px;
  height: 17px;
  background: url(../img/time_arrow.png) no-repeat;
  cursor: pointer;
}
/* line 1207, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_back {
  display: block;
  position: relative;
  left: 0px;
  width: 253px;
  padding-left: 20px;
  margin-top: 10px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
}
/* line 1219, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_back .tab1_time_back_fild {
  display: block;
  position: relative;
  width: 196px;
  margin-top: 8px;
  border: none;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
}
/* line 1230, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_back .calendar {
  display: block;
  position: absolute;
  width: 17px;
  height: 19px;
  top: 32px;
  left: 230px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -200px;
  cursor: pointer;
}
/* line 1242, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people {
  display: block;
  position: relative;
  left: 0px;
  width: 253px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 13px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
}
/* line 1254, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_adult {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 1260, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_adult .tab1_adult_fild {
  display: block;
  position: relative;
  width: 75px;
  margin-top: 8px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 1271, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_adult .tab1_adult_up {
  display: block;
  position: absolute;
  top: 31px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -300px;
  cursor: pointer;
}
/* line 1284, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_adult .tab1_adult_dwn {
  display: block;
  position: absolute;
  top: 48px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -325px;
  cursor: pointer;
}
/* line 1296, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_child {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 1303, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_child .tab1_child_fild {
  display: block;
  position: relative;
  width: 75px;
  margin-top: 8px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 1314, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_child .tab1_child_up {
  display: block;
  position: absolute;
  top: 31px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -300px;
  cursor: pointer;
}
/* line 1327, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_child .tab1_child_dwn {
  display: block;
  position: absolute;
  top: 48px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -325px;
  cursor: pointer;
}
/* line 1340, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail {
  display: block;
  position: relative;
  width: 253px;
  padding-left: 20px;
  color: #fff;
  text-align: left;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
  /* ====================== стилизаци чекбокса ============================================== */
  /* ==================================================================== */
}
/* line 1350, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_class {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 1356, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_class .tab1_class_fild {
  display: block;
  position: relative;
  width: 75px;
  margin-top: 8px;
  padding: 7px 30px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 1367, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_class .tab1_class_arrow {
  display: block;
  position: absolute;
  top: 34px;
  left: 91px;
  width: 20px;
  height: 16px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -346px;
  cursor: pointer;
}
/* line 1379, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_company {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  margin-left: 2px;
}
/* line 1386, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_company .tab1_company_fild {
  display: block;
  position: relative;
  width: 75px;
  margin-top: 8px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 1397, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_company .tab1_company_arrow {
  display: block;
  position: absolute;
  top: 34px;
  left: 91px;
  width: 20px;
  height: 16px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -346px;
  cursor: pointer;
}
/* line 1410, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail input[type="checkbox"] {
  display: none;
}
/* line 1413, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail input[type="checkbox"] + label span {
  display: inline-block;
  width: 17px;
  height: 17px;
  top: -1px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../img/main_sprite.png) no-repeat;
  cursor: pointer;
  background-position: 0px -250px;
  font-size: 8pt;
  color: #fff;
  opacity: 1;
}
/* line 1427, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail input[type="checkbox"]:checked + label span {
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -275px;
  opacity: 1;
}
/* line 1432, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail label {
  display: block;
  width: 250px;
  margin-left: 0px;
  margin-top: 11px;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  color: #fff;
  text-align: left;
  opacity: 1;
}
/* line 1443, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_find {
  display: block;
  position: relative;
  width: 235px;
  height: 45px;
  margin-top: 10px;
  border: none;
  background-color: #49b69c;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 13pt;
  font-weight: bold;
}
/* line 1463, ../sass/styles.scss */
.left_column .order_tab2 {
  display: none;
}

/* line 1468, ../sass/styles.scss */
.right_column {
  display: block;
  position: absolute;
  width: 98px;
  height: 100%;
  right: 0px;
  background-color: #002a46;
  font-size: 20pt;
  color: #ff0;
  /*opacity: 0.5;*/
  overflow: hidden;
}
/* line 1479, ../sass/styles.scss */
.right_column .img_world {
  display: block;
  position: relative;
  width: 43px;
  height: 35px;
  margin: 0 auto;
  margin-top: 13px;
  background: url(../img/world.png) no-repeat;
}
/* line 1489, ../sass/styles.scss */
.right_column ul {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  border-top: 1px solid #1a4059;
  overflow: hidden;
}
/* line 1497, ../sass/styles.scss */
.right_column ul .right_slider {
  display: block;
  position: absolute;
  width: 100%;
  height: 61px;
  padding-left: 12px;
  padding-top: 10pt;
  text-align: left;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 9pt;
  border-bottom: 1px solid #1a4059;
}
/* line 1512, ../sass/styles.scss */
.right_column ul .right_slider_price {
  display: block;
  margin-top: 3px;
  font-family: 'helvetica_neue';
  color: #49b69c;
}
/* line 1518, ../sass/styles.scss */
.right_column ul .right_slider_temper {
  display: block;
  top: -2px;
  font-family: 'helvetica_neue';
  color: #0072ba;
  font-size: 9pt;
  font-weight: 900;
}
/* line 1526, ../sass/styles.scss */
.right_column ul .right_slider_sun {
  top: 4px;
  width: 23px;
  height: 18px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px 0px;
}
/* line 1534, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(2) .right_slider_sun {
  background-position: 0px -24px;
}
/* line 1539, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(3) .right_slider_sun {
  background-position: 0px -48px;
}
/* line 1544, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(4) .right_slider_sun {
  background-position: 0px -73px;
}
/* line 1549, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(5) .right_slider_sun {
  background-position: 0px -100px;
}
/* line 1554, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(6) .right_slider_sun {
  background-position: 0px -48px;
}
/* line 1559, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(7) .right_slider_sun {
  background-position: 0px -73px;
}
/* line 1564, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(8) .right_slider_sun {
  background-position: 0px -100px;
}
/* line 1569, ../sass/styles.scss */
.right_column .right_column_gradient {
  display: block;
  position: absolute;
  width: 100%;
  height: 307px;
  left: 0px;
  bottom: 0px;
  background: url(../img/right_column_gradient.png) repeat-x;
}
/* line 1578, ../sass/styles.scss */
.right_column .right_column_shadow {
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url(../img/right_column_shadow.png) repeat-y;
}

/* line 1590, ../sass/styles.scss */
.center_block {
  display: block;
  position: absolute;
  top: 60px;
  left: 273px;
  font-size: 30pt;
  color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /*overflow: hidden;*/
  height: 100%;
  text-align: left;
}
/* line 1603, ../sass/styles.scss */
.center_block .calendar_block {
  display: block;
  position: absolute;
  top: 0px;
  left: -293px;
  width: 287px;
  height: 100%;
  background-color: #fff;
  z-index: 20;
  font-size: 0px;
  /*overflow: hidden;*/
}
/* line 1614, ../sass/styles.scss */
.center_block .calendar_block .calendar_header {
  display: block;
  position: relative;
  height: 40px;
  padding: 13px 0px 0px 20px;
  background-color: #0072ba;
  font-family: 'helvetica_neue';
  font-size: 18pt;
  font-weight: bold;
}
/* line 1624, ../sass/styles.scss */
.center_block .calendar_block .calendar_cont {
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 1629, ../sass/styles.scss */
.center_block .calendar_block #month1 {
  display: block;
  position: relative;
  left: -1px;
  font-size: 12pt;
  color: #002a46;
}
/* line 1636, ../sass/styles.scss */
.center_block .calendar_block td, .center_block .calendar_block th {
  border: 1px solid #e0e0e0;
  padding: 12px;
  text-align: center;
  font-size: 10.5pt;
  color: #0072ba;
  font-family: 'helvetica_neue';
  font-weight: 400;
}
/* line 1645, ../sass/styles.scss */
.center_block .calendar_block td:nth-child(7n) {
  color: #c44231;
}
/* line 1648, ../sass/styles.scss */
.center_block .calendar_block td:nth-child(6n) {
  color: #c44231;
}
/* line 1652, ../sass/styles.scss */
.center_block .calendar_block table {
  display: block;
  position: relative;
  border-collapse: collapse;
}
/* line 1657, ../sass/styles.scss */
.center_block .calendar_block .td_active {
  cursor: pointer;
}
/* line 1660, ../sass/styles.scss */
.center_block .calendar_block .last {
  background-color: #ccc;
}
/* line 1663, ../sass/styles.scss */
.center_block .calendar_block .today {
  background-color: #c44231;
  color: #fff;
}
/* line 1667, ../sass/styles.scss */
.center_block .calendar_block .mon1 {
  padding: 15px 0px 5px 20px;
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 13.5pt;
  color: #002a46;
}
/* line 1674, ../sass/styles.scss */
.center_block .calendar_block .day_txt {
  display: inline-block;
  position: relative;
  margin: 0px 13px 7px 13px;
  color: #ccc;
  font-family: 'helvetica_neue';
  font-size: 9pt;
}
/* line 1682, ../sass/styles.scss */
.center_block .calendar_block .year1 {
  display: block;
  position: absolute;
  top: 15px;
  right: 20px;
  font-family: 'helvetica_neue';
  font-size: 13.5pt;
  color: #b4bcc2;
}
/* line 1691, ../sass/styles.scss */
.center_block .calendar_block .calendar_bottom {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 44px;
  background-color: #e4e8eb;
  z-index: 21;
  text-align: right;
  border-top: 1px solid #e0e0e0;
  overflow: hidden;
}
/* line 1703, ../sass/styles.scss */
.center_block .calendar_block .calendar_bottom .calendar_up, .center_block .calendar_block .calendar_bottom .calendar_dwn {
  display: inline-block;
  position: relative;
  padding: 18px 15px 15px 15px;
  width: 12px;
  height: 14px;
  border-left: 1px solid #e0e0e0;
  background-color: #d3d8db;
}
/* line 1711, ../sass/styles.scss */
.center_block .calendar_block .calendar_bottom .calendar_up .calendar_up_img, .center_block .calendar_block .calendar_bottom .calendar_up .calendar_dwn_img, .center_block .calendar_block .calendar_bottom .calendar_dwn .calendar_up_img, .center_block .calendar_block .calendar_bottom .calendar_dwn .calendar_dwn_img {
  display: block;
  position: relative;
  width: 13px;
  height: 9px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -400px;
}
/* line 1719, ../sass/styles.scss */
.center_block .calendar_block .calendar_bottom .calendar_up .calendar_dwn_img, .center_block .calendar_block .calendar_bottom .calendar_dwn .calendar_dwn_img {
  background-position: 0px -375px;
}
/* line 1724, ../sass/styles.scss */
.center_block .calendar_block .calendar_bottom .calendar_dwn {
  background-color: #fff;
  cursor: pointer;
}
/* line 1729, ../sass/styles.scss */
.center_block .calendar_block .calendar_shadow {
  display: block;
  position: absolute;
  top: 0px;
  right: -3px;
  width: 3px;
  height: 100%;
  background: url(../img/right_column_shadow.png) repeat-y;
  z-index: 22;
}

/* line 1743, ../sass/styles.scss */
.footer {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 44px;
  background-color: #fff;
  z-index: 9;
  text-align: left;
  overflow: hidden;
  /*opacity: 0.5;*/
}
/* line 1754, ../sass/styles.scss */
.footer .footer_shadow {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  top: -3px;
  background: url(../img/footer_shadow.png) repeat-x;
}
/* line 1762, ../sass/styles.scss */
.footer .footer_contact {
  display: inline-block;
  position: relative;
  margin-left: 273px;
  font-size: 8pt;
  font-family: 'helvetica_neue';
  color: #2e363d;
}
/* line 1769, ../sass/styles.scss */
.footer .footer_contact li {
  display: inline-block;
  margin-top: 11px;
  padding: 4px 15px 4px 17px;
  border-left: 1px solid #dbdbdb;
}
/* line 1774, ../sass/styles.scss */
.footer .footer_contact li a {
  color: #0072ba;
}
/* line 1779, ../sass/styles.scss */
.footer .footer_right {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 335px;
  height: 100%;
  text-align: right;
}
/* line 1787, ../sass/styles.scss */
.footer .footer_right .footer_iata {
  display: inline-block;
  position: relative;
  border-left: 1px solid #d8d8d8;
  /*top: -26px;*/
  width: 72px;
  height: 100%;
  /*background-color: #e4e8eb;*/
}
/* line 1795, ../sass/styles.scss */
.footer .footer_right .footer_iata .img_iata {
  display: block;
  position: absolute;
  top: 8px;
  left: 17px;
  width: 40px;
  height: 27px;
  background: url(../img/iata.png) no-repeat;
}
/* line 1806, ../sass/styles.scss */
.footer .footer_right .footer_iata:hover {
  background-color: #e4e8eb;
}
/* line 1809, ../sass/styles.scss */
.footer .footer_right .footer_isic {
  display: inline-block;
  position: relative;
  border-left: 1px solid #d8d8d8;
  /*top: -26px;*/
  width: 69px;
  height: 100%;
}
/* line 1816, ../sass/styles.scss */
.footer .footer_right .footer_isic .img_isic {
  display: block;
  position: absolute;
  top: 8px;
  left: 20px;
  width: 28px;
  height: 27px;
  background: url(../img/isic.png) no-repeat;
}
/* line 1826, ../sass/styles.scss */
.footer .footer_right .footer_isic:hover {
  background-color: #e4e8eb;
}
/* line 1829, ../sass/styles.scss */
.footer .footer_right .qwestion {
  display: inline-block;
  position: relative;
  top: -17px;
  padding-top: 9px;
  width: 187px;
  height: 100%;
  background-color: #0072ba;
  border-left: 1px solid #005b95;
  font-family: 'helvetica_neue';
  font-size: 11pt;
  color: #fff;
  text-decoration: none;
}
/* line 1842, ../sass/styles.scss */
.footer .footer_right .qwestion .qwestion_info {
  dispaly: inline-block;
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
  margin-right: 22px;
  margin-left: 5px;
  background: url(../img/info.png) no-repeat;
}
/* line 1853, ../sass/styles.scss */
.footer .footer_right .qwestion:hover {
  background-color: #0285d8;
}

/* line 1860, ../sass/styles.scss */
.login_form_fon {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*background-color: #cc0; */
  z-index: 500;
}
/* line 1869, ../sass/styles.scss */
.login_form_fon .login_form {
  display: block;
  position: absolute;
  top: -144px;
  /*   60  */
  right: 0px;
  width: 221px;
  height: 205px;
  background-color: #49b69c;
  text-align: left;
}
/* line 1878, ../sass/styles.scss */
.login_form_fon .login_form .login_name_fild {
  display: block;
  position: relative;
  width: 181px;
  margin-top: 12px;
  margin-left: 10px;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 13pt;
  background-color: #e4e8eb;
  border: none;
  font-weight: 600;
  color: #2e363d;
}
/* line 1892, ../sass/styles.scss */
.login_form_fon .login_form .login_psw_fild {
  display: block;
  position: relative;
  width: 181px;
  margin-top: 12px;
  margin-left: 10px;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 15pt;
  background-color: #e4e8eb;
  border: none;
  font-weight: 600;
  color: #2e363d;
}
/* line 1906, ../sass/styles.scss */
.login_form_fon .login_form .login_enter {
  display: inline-block;
  position: relative;
  width: 87px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 5px;
  background-color: #002a46;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 15pt;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
/* line 1922, ../sass/styles.scss */
.login_form_fon .login_form .login_enter:hover {
  background-color: #023f68;
}
/* line 1925, ../sass/styles.scss */
.login_form_fon .login_form .login_help {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 90px;
  margin-left: 15px;
  font-size: 10pt;
  color: #fff;
  font-family: 'helvetica_neue';
}
/* line 1936, ../sass/styles.scss */
.login_form_fon .login_form .login_registr {
  display: block;
  position: relative;
  width: 201px;
  height: 26px;
  padding-top: 9px;
  margin-left: 10px;
  margin-top: 18px;
  background-color: #c44231;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
/* line 1952, ../sass/styles.scss */
.login_form_fon .login_form .login_registr:hover {
  background-color: #d34735;
}

@media only screen and (max-width: 1279px) {
  /* line 1959, ../sass/styles.scss */
  h1 {
    font-size: 24pt;
  }

  /* line 1963, ../sass/styles.scss */
  .main_fon .slogan {
    width: 390px;
    left: 30px;
  }

  /* line 1970, ../sass/styles.scss */
  #footer_tel {
    display: none;
  }
}
