@charset "IBM866";
@font-face {
  font-family: 'helvetica_neue';
  src: url("../fonts/helveticaneue-webfont.eot");
  src: url("../fonts/helveticaneue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-webfont.woff") format("woff"), url("../fonts/helveticaneue-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-webfont.svg#helvetica_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_bold';
  src: url("../fonts/helvetica_bold.eot");
  src: url("../fonts/helvetica_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_bold.woff") format("woff"), url("../fonts/helvetica_bold.ttf") format("truetype"), url("../fonts/helvetica_bold.svg#helvetica_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 38, ../sass/styles.scss */
ul, li, div, a, span {
  display: inline-block;
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* line 45, ../sass/styles.scss */
.txt_bold {
  font-weight: bold;
  color: #000;
}

/* line 50, ../sass/styles.scss */
h1 {
  font-size: 29pt;
  font-family: 'helvetica_neue';
}

/* line 55, ../sass/styles.scss */
input:focus {
  outline: none;
}

/* line 56, ../sass/styles.scss */
textarea:focus {
  outline: none;
}

/* line 58, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 60, ../sass/styles.scss */
body {
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 0pt;
  min-width: 1024px;
  background-color: #000;
  /*overflow: hidden;*/
}

/* line 69, ../sass/styles.scss */
.main_fon {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 30pt;
  color: #fff;
  background-color: #0ff;
  background: url(../img/fon1.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  font-family: 'helvetica_neue';
  min-width: 1024px;
}
/* line 82, ../sass/styles.scss */
.main_fon .center_fon {
  display: block;
  position: absolute;
  top: 60px;
  left: 273px;
  font-size: 30pt;
  color: #fff;
  /*padding-left: 10px;
  padding-right: 90px;*/
  overflow: hidden;
  height: 100%;
  text-align: left;
  background: url(../img/main_shadow.png) repeat-x;
}
/* line 96, ../sass/styles.scss */
.main_fon .slogan {
  display: block;
  position: absolute;
  width: 505px;
  top: 52px;
  left: 60px;
  color: #fff;
  font-family: 'helvetica_bold';
  font-weight: 100;
}
/* line 106, ../sass/styles.scss */
.main_fon .price {
  display: block;
  position: absolute;
  width: 150px;
  top: 52px;
  padding-left: 25px;
  right: 40px;
  font-family: 'helvetica_bold';
  color: #49b69c;
  border-left: 1px solid #4d7183;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}
/* line 119, ../sass/styles.scss */
.main_fon .price .start_city {
  font-size: 11.5pt;
  font-family: 'helvetica_neue';
  font-weight: 400;
}

/* line 127, ../sass/styles.scss */
#fon2 {
  background: url(../img/fon2.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
}

/* line 134, ../sass/styles.scss */
.container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1024px;
}

/* line 143, ../sass/styles.scss */
.header {
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 501;
  text-align: left;
}
/* line 151, ../sass/styles.scss */
.header .logo {
  display: inline-block;
  position: relative;
  top: -14px;
  width: 130px;
  height: 38px;
  margin-top: 8px;
  margin-left: 14px;
  background: url(../img/logo.png) no-repeat;
}
/* line 161, ../sass/styles.scss */
.header .tel {
  display: inline-block;
  position: relative;
  top: -16px;
  padding-left: 13px;
  margin-left: 8px;
  color: #49b69c;
  font-size: 13.5pt;
  font-family: 'helvetica_neue';
  border-left: 1px solid #dbdbdb;
}
/* line 171, ../sass/styles.scss */
.header .tel .tel_txt {
  display: block;
  position: relative;
  color: #abb0b4;
  font-size: 8pt;
}
/* line 178, ../sass/styles.scss */
.header .header_separ {
  display: inline-block;
  position: relative;
  height: 100%;
  margin-left: 20px;
  border-left: 1px solid #dbdbdb;
}
/* line 185, ../sass/styles.scss */
.header .student {
  display: inline-block;
  position: relative;
  top: -26px;
  margin-left: 13px;
  padding: 9px 18px 9px 18px;
  background-color: #c44231;
  font-family: 'helvetica_neue';
  font-size: 11pt;
  color: #fff;
  text-decoration: none;
}
/* line 197, ../sass/styles.scss */
.header .student:hover {
  background-color: #e04c38;
}
/* line 200, ../sass/styles.scss */
.header .student_txt {
  display: inline-block;
  position: relative;
  top: -21px;
  width: 120px;
  margin-left: 9px;
  color: #2e363d;
  font-size: 8pt;
  font-family: 'helvetica_neue';
}
/* line 210, ../sass/styles.scss */
.header .header_right {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 480px;
  height: 100%;
}
/* line 217, ../sass/styles.scss */
.header .header_right .header_menu {
  display: block;
  position: absolute;
  top: 0px;
  right: 98px;
  width: 410px;
  height: 100%;
  color: #2e363d;
  font-family: 'helvetica_neue';
  font-size: 9.5pt;
}
/* line 227, ../sass/styles.scss */
.header .header_right .header_menu li {
  display: inline-block;
  position: relative;
  margin-left: 18px;
  margin-top: 21px;
}
/* line 232, ../sass/styles.scss */
.header .header_right .header_menu li a {
  color: #2e363d;
  text-decoration: none;
}
/* line 238, ../sass/styles.scss */
.header .header_right .btn_login {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 97px;
  height: 100%;
  background-color: #49b69c;
  cursor: pointer;
  border-left: 1px solid #429984;
}
/* line 248, ../sass/styles.scss */
.header .header_right .btn_login span {
  display: block;
  position: absolute;
  top: 20px;
  left: 17px;
  padding-left: 22px;
  padding-top: 2px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 10pt;
  background: url(../img/img_login.png) no-repeat;
}
/* line 263, ../sass/styles.scss */
.header .header_right .btn_login:hover {
  background-color: #55d4b6;
}

/* line 270, ../sass/styles.scss */
.top_space {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
}

/* line 277, ../sass/styles.scss */
.left_column {
  display: block;
  position: absolute;
  width: 273px;
  height: 100%;
  left: 0px;
  background-color: #0072ba;
  font-size: 20pt;
  color: #ff0;
  z-index: 100;
  overflow: hidden;
  /*  ===============================================   BEGIN ORDER TAB1 ==================================== */
  /*  ===============================================   END ORDER TAB1 ==================================== */
}
/* line 288, ../sass/styles.scss */
.left_column .left_column_gradient {
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  right: 0px;
  top: 0px;
  background: url(../img/left_column_shadow.png) repeat-y;
}
/* line 297, ../sass/styles.scss */
.left_column .left_column_name {
  display: block;
  position: relative;
  width: 100%;
  padding: 13px 15px 13px 20px;
  background-color: #0072ba;
  color: #fff;
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 18pt;
  text-align: left;
}
/* line 309, ../sass/styles.scss */
.left_column .left_column_name_img {
  display: block;
  position: absolute;
  top: 22px;
  left: 215px;
  width: 42px;
  height: 16px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -125px;
  z-index: 120;
}
/* line 320, ../sass/styles.scss */
.left_column .select_tab {
  display: block;
  position: absolute;
  width: 140px;
  height: 40px;
  background-color: #002a46;
  top: 115px;
  left: 0px;
}
/* line 329, ../sass/styles.scss */
.left_column .menu_order {
  display: block;
  position: repative;
}
/* line 332, ../sass/styles.scss */
.left_column .menu_order .menu_tab {
  display: inline-block;
  position: relative;
  padding: 14px 12px 14px 12px;
  color: #49b69c;
  font-family: 'helvetica_bold';
  font-size: 8pt;
}
/* line 340, ../sass/styles.scss */
.left_column .menu_order .menu_tab:last-child {
  cursor: pointer;
  /*color: $color_blue;*/
}
/* line 347, ../sass/styles.scss */
.left_column .order_tab1 {
  display: block;
  position: relative;
  width: 273px;
  top: -2px;
  background-color: #002a46;
  text-align: left;
  overflow-y: hidden;
  /*overflow-y: scroll;
  overflow-y: auto;*/
  overflow-x: hidden;
  padding-bottom: 10px;
  /* ============================================	 BEGIN	.order_tab1_back =================================== */
  /* ============================================	 END	.order_tab1_back =================================== */
}
/* line 359, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main {
  display: block;
  position: relative;
  width: 273px;
  z-index: 1;
  /* ====================== стилизаци чекбокса ============================================== */
  /* ==================================================================== */
}
/* line 364, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .order_tab1_city {
  display: block;
  position: relative;
  text-align: left;
}
/* line 369, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from, .left_column .order_tab1 .order_tab1_main .tab1_to {
  display: inline-block;
  position: relative;
  width: 110px;
  margin-top: 2px;
  margin-left: 20px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  text-align: left;
}
/* line 380, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from {
  margin-top: 15px;
}
/* line 383, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from_info, .left_column .order_tab1 .order_tab1_main .tab1_to_info {
  display: inline-block;
  position: relative;
  width: 102px;
  margin-top: 12px;
  color: #49b69c;
  font-family: 'helvetica_neue';
  font-size: 8.5pt;
  text-align: right;
}
/* line 393, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from_clear, .left_column .order_tab1 .order_tab1_main .tab1_to_clear {
  dislpay: inline-block;
  position: relative;
  top: 1px;
  width: 10px;
  height: 10px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -149px;
  cursor: pointer;
}
/* line 404, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from_fild, .left_column .order_tab1 .order_tab1_main .tab1_to_fild {
  display: block;
  position: relative;
  width: 196px;
  margin-left: 20px;
  margin-top: 3px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 14pt;
  border: none;
  background-color: #e4e8eb;
}
/* line 418, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_from_o, .left_column .order_tab1 .order_tab1_main .tab1_to_o {
  display: block;
  position: absolute;
  width: 12px;
  height: 19px;
  top: 46px;
  left: 30px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -175px;
}
/* line 428, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_to_o {
  top: 116px;
}
/* line 432, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main input[type="checkbox"] {
  display: none;
}
/* line 435, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main input[type="checkbox"] + label span {
  display: inline-block;
  width: 17px;
  height: 17px;
  top: -1px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../img/main_sprite.png) no-repeat;
  cursor: pointer;
  background-position: 0px -250px;
  font-size: 8pt;
  color: #fff;
}
/* line 448, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main input[type="checkbox"]:checked + label span {
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -275px;
}
/* line 452, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main label {
  display: block;
  width: 250px;
  margin-left: 20px;
  margin-top: 11px;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  color: #fff;
  text-align: left;
}
/* line 463, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_from {
  display: none;
  position: relative;
  width: 253px;
  padding-left: 20px;
  margin-top: 23px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
}
/* line 473, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_from .tab1_time_from_fild {
  display: block;
  position: relative;
  width: 216px;
  margin-top: 6px;
  border: none;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
}
/* line 484, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_from .calendar {
  display: block;
  position: absolute;
  width: 17px;
  height: 19px;
  top: 30px;
  left: 230px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -200px;
  cursor: pointer;
}
/* line 498, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_back {
  display: none;
  position: relative;
  left: 0px;
  width: 253px;
  padding-left: 20px;
  margin-top: 10px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
}
/* line 509, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_back .tab1_time_back_fild {
  display: block;
  position: relative;
  width: 196px;
  margin-top: 8px;
  border: none;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
}
/* line 520, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_time_back .calendar {
  display: block;
  position: absolute;
  width: 17px;
  height: 19px;
  top: 32px;
  left: 230px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -200px;
  cursor: pointer;
}
/* line 532, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people {
  display: none;
  position: relative;
  left: 0px;
  width: 253px;
  padding-left: 20px;
  margin-top: 10px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: 1;
}
/* line 543, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_adult {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 549, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_adult .tab1_adult_fild {
  display: block;
  position: relative;
  width: 95px;
  margin-top: 8px;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 560, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_adult .tab1_adult_up {
  display: block;
  position: absolute;
  top: 26px;
  left: 94px;
  width: 21px;
  height: 12px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -295px;
  cursor: pointer;
}
/* line 573, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_adult .tab1_adult_dwn {
  display: block;
  position: absolute;
  top: 48px;
  left: 94px;
  width: 21px;
  height: 12px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -325px;
  cursor: pointer;
}
/* line 585, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_child {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 592, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_child .tab1_child_fild {
  display: block;
  position: relative;
  width: 95px;
  margin-top: 8px;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 603, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_child .tab1_child_up {
  display: block;
  position: absolute;
  top: 31px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -300px;
  cursor: pointer;
}
/* line 616, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_main .tab1_people .tab1_child .tab1_child_dwn {
  display: block;
  position: absolute;
  top: 48px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -325px;
  cursor: pointer;
}
/* line 632, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  /* ====================== стилизаци чекбокса ============================================== */
  /* ==================================================================== */
}
/* line 637, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .order_tab1_city {
  display: block;
  position: relative;
  text-align: left;
  opacity: 0;
}
/* line 643, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from, .left_column .order_tab1 .order_tab1_back .tab1_to {
  display: inline-block;
  position: relative;
  width: 110px;
  margin-top: 2px;
  margin-left: 20px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  text-align: left;
  opacity: 0;
}
/* line 655, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from {
  margin-top: 15px;
  opacity: 0;
}
/* line 659, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from_info, .left_column .order_tab1 .order_tab1_back .tab1_to_info {
  display: inline-block;
  position: relative;
  width: 102px;
  margin-top: 12px;
  color: #49b69c;
  font-family: 'helvetica_neue';
  font-size: 8.5pt;
  text-align: right;
  opacity: 0;
}
/* line 670, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from_clear, .left_column .order_tab1 .order_tab1_back .tab1_to_clear {
  dislpay: inline-block;
  position: relative;
  top: 1px;
  width: 10px;
  height: 10px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -149px;
  cursor: pointer;
  opacity: 0;
}
/* line 682, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from_fild, .left_column .order_tab1 .order_tab1_back .tab1_to_fild {
  display: block;
  position: relative;
  width: 196px;
  margin-left: 20px;
  margin-top: 3px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 14pt;
  border: none;
  background-color: #e4e8eb;
  opacity: 0;
}
/* line 697, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_from_o, .left_column .order_tab1 .order_tab1_back .tab1_to_o {
  display: block;
  position: absolute;
  width: 12px;
  height: 19px;
  top: 46px;
  left: 30px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -175px;
  opacity: 0;
}
/* line 708, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_to_o {
  top: 116px;
  opacity: 0;
}
/* line 713, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back input[type="checkbox"] {
  display: none;
}
/* line 716, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back input[type="checkbox"] + label span {
  display: inline-block;
  width: 17px;
  height: 17px;
  top: -1px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../img/main_sprite.png) no-repeat;
  cursor: pointer;
  background-position: 0px -250px;
  font-size: 8pt;
  color: #fff;
  opacity: 0;
}
/* line 730, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back input[type="checkbox"]:checked + label span {
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -275px;
  opacity: 0;
}
/* line 735, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back label {
  display: block;
  width: 250px;
  margin-left: 20px;
  margin-top: 11px;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  color: #fff;
  text-align: left;
  opacity: 0;
}
/* line 747, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_from {
  display: block;
  position: relative;
  width: 253px;
  padding-left: 20px;
  margin-top: 23px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
}
/* line 758, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_from .tab1_time_from_fild {
  display: block;
  position: relative;
  width: 196px;
  margin-top: 6px;
  border: none;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
}
/* line 768, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_from .calendar {
  display: block;
  position: absolute;
  width: 17px;
  height: 19px;
  top: 30px;
  left: 230px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -200px;
  cursor: pointer;
}
/* line 780, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_back {
  display: block;
  position: relative;
  left: 0px;
  width: 253px;
  padding-left: 20px;
  margin-top: 10px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
}
/* line 792, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_back .tab1_time_back_fild {
  display: block;
  position: relative;
  width: 196px;
  margin-top: 8px;
  border: none;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
}
/* line 803, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_time_back .calendar {
  display: block;
  position: absolute;
  width: 17px;
  height: 19px;
  top: 32px;
  left: 230px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -200px;
  cursor: pointer;
}
/* line 815, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people {
  display: block;
  position: relative;
  left: 0px;
  width: 253px;
  padding-left: 20px;
  margin-top: 10px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
}
/* line 826, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_adult {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 832, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_adult .tab1_adult_fild {
  display: block;
  position: relative;
  width: 75px;
  margin-top: 8px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 843, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_adult .tab1_adult_up {
  display: block;
  position: absolute;
  top: 31px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -300px;
  cursor: pointer;
}
/* line 856, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_adult .tab1_adult_dwn {
  display: block;
  position: absolute;
  top: 48px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -325px;
  cursor: pointer;
}
/* line 868, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_child {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 875, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_child .tab1_child_fild {
  display: block;
  position: relative;
  width: 75px;
  margin-top: 8px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 886, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_child .tab1_child_up {
  display: block;
  position: absolute;
  top: 31px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -300px;
  cursor: pointer;
}
/* line 899, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_people .tab1_child .tab1_child_dwn {
  display: block;
  position: absolute;
  top: 48px;
  left: 94px;
  width: 21px;
  height: 21px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -325px;
  cursor: pointer;
}
/* line 912, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail {
  display: block;
  position: relative;
  width: 253px;
  padding-left: 20px;
  margin-top: 13px;
  color: #fff;
  text-align: left;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  opacity: .2;
  /* ====================== стилизаци чекбокса ============================================== */
  /* ==================================================================== */
}
/* line 923, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_class {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
}
/* line 929, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_class .tab1_class_fild {
  display: block;
  position: relative;
  width: 75px;
  margin-top: 8px;
  padding: 7px 30px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 940, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_class .tab1_class_arrow {
  display: block;
  position: absolute;
  top: 34px;
  left: 91px;
  width: 20px;
  height: 16px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -346px;
  cursor: pointer;
}
/* line 952, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_company {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  margin-left: 2px;
}
/* line 959, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_company .tab1_company_fild {
  display: block;
  position: relative;
  width: 75px;
  margin-top: 8px;
  padding: 7px 10px 7px 30px;
  font-family: 'helvetica_neue';
  font-size: 14pt;
  background-color: #e4e8eb;
  border: none;
}
/* line 970, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_company .tab1_company_arrow {
  display: block;
  position: absolute;
  top: 34px;
  left: 91px;
  width: 20px;
  height: 16px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -346px;
  cursor: pointer;
}
/* line 983, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail input[type="checkbox"] {
  display: none;
}
/* line 986, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail input[type="checkbox"] + label span {
  display: inline-block;
  width: 17px;
  height: 17px;
  top: -1px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../img/main_sprite.png) no-repeat;
  cursor: pointer;
  background-position: 0px -250px;
  font-size: 8pt;
  color: #fff;
  opacity: 1;
}
/* line 1000, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail input[type="checkbox"]:checked + label span {
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -275px;
  opacity: 1;
}
/* line 1005, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail label {
  display: block;
  width: 250px;
  margin-left: 0px;
  margin-top: 11px;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  color: #fff;
  text-align: left;
  opacity: 1;
}
/* line 1016, ../sass/styles.scss */
.left_column .order_tab1 .order_tab1_back .tab1_detail .tab1_find {
  display: block;
  position: relative;
  width: 235px;
  height: 45px;
  margin-top: 10px;
  border: none;
  background-color: #49b69c;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 13pt;
  font-weight: bold;
}
/* line 1036, ../sass/styles.scss */
.left_column .order_tab2 {
  display: none;
}

/* line 1041, ../sass/styles.scss */
.right_column {
  display: block;
  position: absolute;
  width: 98px;
  height: 100%;
  right: 0px;
  background-color: #002a46;
  font-size: 20pt;
  color: #ff0;
  /*opacity: 0.5;*/
  overflow: hidden;
}
/* line 1052, ../sass/styles.scss */
.right_column .img_world {
  display: block;
  position: relative;
  width: 43px;
  height: 35px;
  margin: 0 auto;
  margin-top: 13px;
  background: url(../img/world.png) no-repeat;
}
/* line 1062, ../sass/styles.scss */
.right_column ul {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  border-top: 1px solid #1a4059;
  overflow: hidden;
}
/* line 1070, ../sass/styles.scss */
.right_column ul .right_slider {
  display: block;
  position: absolute;
  width: 100%;
  height: 61px;
  padding-left: 12px;
  padding-top: 10pt;
  text-align: left;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 9pt;
  border-bottom: 1px solid #1a4059;
}
/* line 1085, ../sass/styles.scss */
.right_column ul .right_slider_price {
  display: block;
  margin-top: 3px;
  font-family: 'helvetica_neue';
  color: #49b69c;
}
/* line 1091, ../sass/styles.scss */
.right_column ul .right_slider_temper {
  display: block;
  top: -2px;
  font-family: 'helvetica_neue';
  color: #0072ba;
  font-size: 9pt;
  font-weight: 900;
}
/* line 1099, ../sass/styles.scss */
.right_column ul .right_slider_sun {
  top: 4px;
  width: 23px;
  height: 18px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px 0px;
}
/* line 1107, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(2) .right_slider_sun {
  background-position: 0px -24px;
}
/* line 1112, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(3) .right_slider_sun {
  background-position: 0px -48px;
}
/* line 1117, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(4) .right_slider_sun {
  background-position: 0px -73px;
}
/* line 1122, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(5) .right_slider_sun {
  background-position: 0px -100px;
}
/* line 1127, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(6) .right_slider_sun {
  background-position: 0px -48px;
}
/* line 1132, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(7) .right_slider_sun {
  background-position: 0px -73px;
}
/* line 1137, ../sass/styles.scss */
.right_column ul .right_slider:nth-child(8) .right_slider_sun {
  background-position: 0px -100px;
}
/* line 1142, ../sass/styles.scss */
.right_column .right_column_gradient {
  display: block;
  position: absolute;
  width: 100%;
  height: 307px;
  left: 0px;
  bottom: 0px;
  background: url(../img/right_column_gradient.png) repeat-x;
}
/* line 1151, ../sass/styles.scss */
.right_column .right_column_shadow {
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url(../img/right_column_shadow.png) repeat-y;
}

/* line 1163, ../sass/styles.scss */
.center_block {
  display: block;
  position: absolute;
  top: 60px;
  left: 273px;
  font-size: 30pt;
  color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /*overflow: hidden;*/
  height: 100%;
  text-align: left;
}
/* line 1176, ../sass/styles.scss */
.center_block .calendar_block {
  display: block;
  position: absolute;
  top: 0px;
  left: -293px;
  width: 287px;
  height: 100%;
  background-color: #fff;
  z-index: 20;
  /*overflow: hidden;*/
}
/* line 1186, ../sass/styles.scss */
.center_block .calendar_block .calendar_header {
  display: block;
  position: relative;
  height: 40px;
  padding: 13px 0px 0px 20px;
  background-color: #0072ba;
  font-family: 'helvetica_neue';
  font-size: 18pt;
  font-weight: bold;
}
/* line 1196, ../sass/styles.scss */
.center_block .calendar_block .calendar_cont {
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 1201, ../sass/styles.scss */
.center_block .calendar_block #month1 {
  display: block;
  position: relative;
  left: -1px;
  font-size: 12pt;
  color: #002a46;
}
/* line 1208, ../sass/styles.scss */
.center_block .calendar_block td, .center_block .calendar_block th {
  border: 1px solid #e0e0e0;
  padding: 12px;
  text-align: center;
  font-size: 10.5pt;
  color: #0072ba;
  font-family: 'helvetica_neue';
  font-weight: 400;
}
/* line 1217, ../sass/styles.scss */
.center_block .calendar_block td:nth-child(7n) {
  color: #c44231;
}
/* line 1220, ../sass/styles.scss */
.center_block .calendar_block td:nth-child(6n) {
  color: #c44231;
}
/* line 1224, ../sass/styles.scss */
.center_block .calendar_block table {
  display: block;
  position: relative;
  border-collapse: collapse;
}
/* line 1229, ../sass/styles.scss */
.center_block .calendar_block .today {
  background-color: #c44231;
  color: #fff;
}
/* line 1233, ../sass/styles.scss */
.center_block .calendar_block .mon1 {
  padding: 25px 0px 25px 20px;
  font-family: 'helvetica_neue';
  font-weight: bold;
  font-size: 13.5pt;
  color: #002a46;
}
/* line 1240, ../sass/styles.scss */
.center_block .calendar_block .year1 {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  font-family: 'helvetica_neue';
  font-size: 13.5pt;
  color: #b4bcc2;
}
/* line 1249, ../sass/styles.scss */
.center_block .calendar_block .calendar_bottom {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 44px;
  background-color: #e4e8eb;
  z-index: 21;
  text-align: right;
  border-top: 1px solid #e0e0e0;
  overflow: hidden;
}
/* line 1261, ../sass/styles.scss */
.center_block .calendar_block .calendar_bottom .calendar_up, .center_block .calendar_block .calendar_bottom .calendar_dwn {
  display: inline-block;
  position: relative;
  padding: 18px 15px 15px 15px;
  width: 12px;
  height: 14px;
  cursor: pointer;
  border-left: 1px solid #e0e0e0;
  background-color: #d3d8db;
}
/* line 1270, ../sass/styles.scss */
.center_block .calendar_block .calendar_bottom .calendar_up .calendar_up_img, .center_block .calendar_block .calendar_bottom .calendar_up .calendar_dwn_img, .center_block .calendar_block .calendar_bottom .calendar_dwn .calendar_up_img, .center_block .calendar_block .calendar_bottom .calendar_dwn .calendar_dwn_img {
  display: block;
  position: relative;
  width: 13px;
  height: 9px;
  background: url(../img/main_sprite.png) no-repeat;
  background-position: 0px -400px;
}
/* line 1278, ../sass/styles.scss */
.center_block .calendar_block .calendar_bottom .calendar_up .calendar_dwn_img, .center_block .calendar_block .calendar_bottom .calendar_dwn .calendar_dwn_img {
  background-position: 0px -375px;
}
/* line 1283, ../sass/styles.scss */
.center_block .calendar_block .calendar_bottom .calendar_dwn {
  background-color: #fff;
}
/* line 1287, ../sass/styles.scss */
.center_block .calendar_block .calendar_shadow {
  display: block;
  position: absolute;
  top: 0px;
  right: -3px;
  width: 3px;
  height: 100%;
  background: url(../img/right_column_shadow.png) repeat-y;
  z-index: 22;
}

/* line 1301, ../sass/styles.scss */
.footer {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 44px;
  background-color: #fff;
  z-index: 9;
  text-align: left;
  overflow: hidden;
  /*opacity: 0.5;*/
}
/* line 1312, ../sass/styles.scss */
.footer .footer_shadow {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  top: -3px;
  background: url(../img/footer_shadow.png) repeat-x;
}
/* line 1320, ../sass/styles.scss */
.footer .footer_contact {
  display: inline-block;
  position: relative;
  margin-left: 273px;
  font-size: 8pt;
  font-family: 'helvetica_neue';
  color: #2e363d;
}
/* line 1327, ../sass/styles.scss */
.footer .footer_contact li {
  display: inline-block;
  margin-top: 11px;
  padding: 4px 15px 4px 17px;
  border-left: 1px solid #dbdbdb;
}
/* line 1332, ../sass/styles.scss */
.footer .footer_contact li a {
  color: #0072ba;
}
/* line 1337, ../sass/styles.scss */
.footer .footer_right {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 335px;
  height: 100%;
  text-align: right;
}
/* line 1345, ../sass/styles.scss */
.footer .footer_right .footer_iata {
  display: inline-block;
  position: relative;
  border-left: 1px solid #d8d8d8;
  /*top: -26px;*/
  width: 72px;
  height: 100%;
  /*background-color: #e4e8eb;*/
}
/* line 1353, ../sass/styles.scss */
.footer .footer_right .footer_iata .img_iata {
  display: block;
  position: absolute;
  top: 8px;
  left: 17px;
  width: 40px;
  height: 27px;
  background: url(../img/iata.png) no-repeat;
}
/* line 1364, ../sass/styles.scss */
.footer .footer_right .footer_isic {
  display: inline-block;
  position: relative;
  border-left: 1px solid #d8d8d8;
  /*top: -26px;*/
  width: 69px;
  height: 100%;
  /*background-color: #e4e8eb;*/
}
/* line 1372, ../sass/styles.scss */
.footer .footer_right .footer_isic .img_isic {
  display: block;
  position: absolute;
  top: 8px;
  left: 20px;
  width: 28px;
  height: 27px;
  background: url(../img/isic.png) no-repeat;
}
/* line 1383, ../sass/styles.scss */
.footer .footer_right .qwestion {
  display: inline-block;
  position: relative;
  top: -17px;
  padding-top: 9px;
  width: 187px;
  height: 100%;
  background-color: #0072ba;
  border-left: 1px solid #005b95;
  font-family: 'helvetica_neue';
  font-size: 11pt;
  color: #fff;
  text-decoration: none;
}
/* line 1396, ../sass/styles.scss */
.footer .footer_right .qwestion .qwestion_info {
  dispaly: inline-block;
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
  margin-right: 22px;
  margin-left: 5px;
  background: url(../img/info.png) no-repeat;
}
/* line 1407, ../sass/styles.scss */
.footer .footer_right .qwestion:hover {
  background-color: #0285d8;
}

/* line 1414, ../sass/styles.scss */
.login_form_fon {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*background-color: #cc0; */
  z-index: 500;
}
/* line 1423, ../sass/styles.scss */
.login_form_fon .login_form {
  display: block;
  position: absolute;
  top: -144px;
  /*   60  */
  right: 0px;
  width: 221px;
  height: 205px;
  background-color: #49b69c;
  text-align: left;
}
/* line 1432, ../sass/styles.scss */
.login_form_fon .login_form .login_name_fild {
  display: block;
  position: relative;
  width: 181px;
  margin-top: 12px;
  margin-left: 10px;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 13pt;
  background-color: #e4e8eb;
  border: none;
  font-weight: 600;
  color: #2e363d;
}
/* line 1446, ../sass/styles.scss */
.login_form_fon .login_form .login_psw_fild {
  display: block;
  position: relative;
  width: 181px;
  margin-top: 12px;
  margin-left: 10px;
  padding: 7px 10px 7px 10px;
  font-family: 'helvetica_neue';
  font-size: 15pt;
  background-color: #e4e8eb;
  border: none;
  font-weight: 600;
  color: #2e363d;
}
/* line 1460, ../sass/styles.scss */
.login_form_fon .login_form .login_enter {
  display: inline-block;
  position: relative;
  width: 87px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 5px;
  background-color: #002a46;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 15pt;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
/* line 1476, ../sass/styles.scss */
.login_form_fon .login_form .login_enter:hover {
  background-color: #023f68;
}
/* line 1479, ../sass/styles.scss */
.login_form_fon .login_form .login_help {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 90px;
  margin-left: 15px;
  font-size: 10pt;
  color: #fff;
  font-family: 'helvetica_neue';
}
/* line 1490, ../sass/styles.scss */
.login_form_fon .login_form .login_registr {
  display: block;
  position: relative;
  width: 201px;
  height: 26px;
  padding-top: 9px;
  margin-left: 10px;
  margin-top: 18px;
  background-color: #c44231;
  color: #fff;
  font-family: 'helvetica_neue';
  font-size: 10.5pt;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
/* line 1506, ../sass/styles.scss */
.login_form_fon .login_form .login_registr:hover {
  background-color: #d34735;
}

@media only screen and (max-width: 1279px) {
  /* line 1513, ../sass/styles.scss */
  h1 {
    font-size: 24pt;
  }

  /* line 1517, ../sass/styles.scss */
  .main_fon .slogan {
    width: 390px;
    left: 30px;
  }

  /* line 1524, ../sass/styles.scss */
  #footer_tel {
    display: none;
  }
}
